force-app/main/default/flows/Bot_Obter_contrato_do_imovel_selecionado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribui_o_contrato</name>
        <label>Atribui o contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterar_na_rela_o_entre_im_vel_e_contrato.CA_Contratos__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterar_na_rela_o_entre_im_vel_e_contrato</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Atribuiu_o_contrato</name>
        <label>Atribuiu o contrato?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim_contrato_atribuido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Sessao_de_Mensagem</targetReference>
            </connector>
            <label>Sim, contrato atribuido</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verificar_criterios_do_contrato</name>
        <label>Verificar critérios do contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Iterar_na_rela_o_entre_im_vel_e_contrato</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contrato_Certo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterar_na_rela_o_entre_im_vel_e_contrato.CA_Contratos__r.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Iterar_na_rela_o_entre_im_vel_e_contrato.CA_Contratos__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_TipoRelacionamento</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_o_contrato</targetReference>
            </connector>
            <label>Contrato Certo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_TipoRelacionamento</name>
        <dataType>String</dataType>
        <expression>IF({!TipoRelacionamento} = &apos;Proprietário&apos;, &apos;Tipo Administração&apos;, &apos;Tipo Locação&apos;)</expression>
    </formulas>
    <interviewLabel>[Bot] Obter contrato do imóvel selecionado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] Obter contrato do imóvel selecionado</label>
    <loops>
        <name>Iterar_na_rela_o_entre_im_vel_e_contrato</name>
        <label>Iterar na relação entre imóvel e contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obter_Relacao_Imovel_e_Contrato</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verificar_criterios_do_contrato</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Atribuiu_o_contrato</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Relacao_Imovel_e_Contrato</name>
        <label>Obter Relação: Imovel e Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterar_na_rela_o_entre_im_vel_e_contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Imovel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImovelSelecionado.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CA_ImoveisContratos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Sessao_de_Mensagem</name>
        <label>Obter Sessão de Mensagem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_a_sess_o_de_mensagem</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingSessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CA_Contrato__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_a_sess_o_de_mensagem</name>
        <label>Atualiza a sessão de mensagem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Sessao_de_Mensagem.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CA_Contrato__c</field>
            <value>
                <elementReference>ContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Imovel__c</field>
            <value>
                <elementReference>ImovelSelecionado.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Relacao_Imovel_e_Contrato</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ImovelSelecionado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CA_Imovel__c</objectType>
    </variables>
    <variables>
        <name>MessagingSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoRelacionamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
