force-app/main/default/flows/Bot_Obter_Gestor_de_Conta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Assistente_de_Conta_to_Output_Variable</name>
        <label>Assign Assistente de Conta to Output Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>gestorDeContaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.CA_AssistenteAlugueis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enviaParaFila</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>falarComGestor</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Gestor_de_Conta_to_Output_Variable</name>
        <label>Assign Gestor de Conta to Output Variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>gestorDeContaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.CA_GestorContaAlugueis__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>falarComGestor</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>enviaParaFila</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_4</name>
        <label>Enviar para Fila</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>enviaParaFila</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gestorDeContaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Central Aluguéis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>falarComGestor</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>EnviarParaFila</name>
        <label>Enviar Para Fila</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>enviaParaFila</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>gestorDeContaId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Central Aluguéis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>falarComGestor</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Assistente_online</name>
        <label>Assistente online?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>EnviarParaFila</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim_assistente_online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assistente_UserServicePresence.IsCurrentState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Assistente_UserServicePresence.ServicePresenceStatus.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Assistente_de_Conta_to_Output_Variable</targetReference>
            </connector>
            <label>Sim, assistente online</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gestor_est_online</name>
        <label>Gestor está online?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assignment_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim_gestor_online</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UserServicePresence.IsCurrentState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_UserServicePresence.ServicePresenceStatus.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Gestor_de_Conta_to_Output_Variable</targetReference>
            </connector>
            <label>Sim, gestor online</label>
        </rules>
        <rules>
            <name>N_o_gestor_offline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UserServicePresence.IsCurrentState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_UserServicePresence.ServicePresenceStatus.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Assistente_UserServicePresence</targetReference>
            </connector>
            <label>Não, gestor offline</label>
        </rules>
    </decisions>
    <description>A partir da v. 5, obtem gestor de conta do proprietário do Imovel</description>
    <environments>Default</environments>
    <interviewLabel>[Bot] Obter Gestor de Conta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] Obter Gestor de Conta do proprietário do Imovel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Obter conta do proprietário do Imovel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UserServicePresence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Imovel.CA_ProprietarioImovel__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CA_GestorContaAlugueis__c</queriedFields>
        <queriedFields>CA_AssistenteAlugueis__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assistente_UserServicePresence</name>
        <label>Get Assistente UserServicePresence</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assistente_online</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.CA_AssistenteAlugueis__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserServicePresence</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServicePresenceStatusId</queriedFields>
        <queriedFields>IsCurrentState</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Imovel</name>
        <label>Obter Imovel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>imovelId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CA_ProprietarioImovel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CA_InquilinoAtual__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_Imovel__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CA_ProprietarioImovel__c</queriedFields>
        <queriedFields>CA_InquilinoAtual__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UserServicePresence</name>
        <label>Obter UserServicePresence do Gestor do prop da conta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gestor_est_online</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.CA_GestorContaAlugueis__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserServicePresence</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsCurrentState</queriedFields>
        <queriedFields>UserId</queriedFields>
        <queriedFields>ServicePresenceStatusId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Imovel</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>enviaParaFila</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>falarComGestor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>gestorDeContaId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>imovelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
