force-app/main/default/flows/Bot_Checa_se_existem_vistorias_no_contrato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>Atribui TRUE à vistoriaAgendada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vistoriaAgendada</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataHoraVistoria</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Vistorias_do_Contrato.CA_DataHoraVistoria__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dataHoraFormatada_output</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>dataHoraVistoriaFormatada</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Existem vistorias no contrato?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Existem_vistorias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vistorias_do_Contrato</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Qual_a_situacao_da_vistoria</targetReference>
            </connector>
            <label>Sim, existem vistorias</label>
        </rules>
    </decisions>
    <decisions>
        <name>Qual_a_situacao_da_vistoria</name>
        <label>Qual é a situação da vistoria?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Outra situação</defaultConnectorLabel>
        <rules>
            <name>Vistoria_agendada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vistorias_do_Contrato.CA_SituacaoVistoria__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Vistoria Agendada</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_1</targetReference>
            </connector>
            <label>Vistoria agendada</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dataHoraVistoriaFormatada</name>
        <dataType>String</dataType>
        <expression>LPAD(TEXT(DAY(DATEVALUE({!dataHoraVistoria} - (3/24)))), 2, &quot;0&quot;) &amp; &quot;-&quot; &amp;
LPAD(TEXT(MONTH(DATEVALUE({!dataHoraVistoria} - (3/24)))), 2, &quot;0&quot;) &amp; &quot;-&quot; &amp;
TEXT(YEAR(DATEVALUE({!dataHoraVistoria} - (3/24)))) &amp; &quot; às &quot; &amp;
LPAD(TEXT(HOUR(TIMEVALUE({!dataHoraVistoria} - (3/24)))), 2, &quot;0&quot;) &amp; &quot;:&quot; &amp;
LPAD(TEXT(MINUTE(TIMEVALUE({!dataHoraVistoria} - (3/24)))), 2, &quot;0&quot;)</expression>
    </formulas>
    <interviewLabel>[Bot] Checa se existem vistorias no contrato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] Checa se existem vistorias no contrato</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_contrato</name>
        <label>Get contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Vistorias_do_Contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vistorias_do_Contrato</name>
        <label>Get Vistorias do Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Contrato__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_contrato.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_Vistoria__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_contrato</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dataHoraFormatada_output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dataHoraVistoria</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vistoriaAgendada</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
