force-app/main/default/flows/Bot_Criar_Protocolo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Protocolo_Id_In_Messaging_Session</name>
        <label>Assign Protocolo Id In Messaging Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Messaging_Session_by_Id.Protocol__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Protocolo_with_Messaging_Session.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messaging_Session_with_Protocolo_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_assignment</name>
        <label>Error assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>flowError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Erro ao consultar Messaging Session pelo Id de input. Verifique se o Id é válido e se seu usuário possui as permissões necessárias de leitura do objeto Messaging Session.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Bot] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] Criar Protocolo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Protocolo_with_Messaging_Session</name>
        <label>Create Protocolo with Messaging Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Protocolo_Id_In_Messaging_Session</targetReference>
        </connector>
        <inputAssignments>
            <field>Messaging_Session_Id__c</field>
            <value>
                <elementReference>messagingSessionId</elementReference>
            </value>
        </inputAssignments>
        <object>Protocolo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Messaging_Session_by_Id</name>
        <label>Get Messaging Session by Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Protocolo_with_Messaging_Session</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_assignment</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>messagingSessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Protocolo Id é o auto number do protocolo, também pode ser chamado de &quot;Protocolo Number&quot;</description>
        <name>Get_Protocolo_Id</name>
        <label>Get Protocolo Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Protocolo_with_Messaging_Session.Id</elementReference>
            </value>
        </filters>
        <object>Protocolo__c</object>
        <outputAssignments>
            <assignToReference>protocoloNumber</assignToReference>
            <field>IdProtocolo__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Messaging_Session_with_Protocolo_Id</name>
        <label>Update Messaging Session with Protocolo Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Protocolo_Id</targetReference>
        </connector>
        <inputReference>Get_Messaging_Session_by_Id</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Messaging_Session_by_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>flowError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id roteável</description>
        <name>messagingSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>protocoloNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
