force-app/main/default/flows/Bot_Obter_agente_responsavel_pelo_caso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribui_fila_e_description</name>
        <label>Atribui fila (output) e nova descrição (para concatenar)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>fila</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtem_o_caso_selecionado.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oldDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtem_o_caso_selecionado.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_descri_o</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Atribui_fila_output_e_nova_descri_o_para_concatenar</name>
        <label>Atribui fila de MS (output) e nova descrição (para concatenar)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>fila</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtem_Fila.Messaging_Queue_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oldDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtem_o_caso_selecionado.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_descri_o</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>O_Owner_fila_ou_usuario</name>
        <label>O Owner é fila ou usuário?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Atribui_fila_e_description</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>É usuário</defaultConnectorLabel>
        <rules>
            <name>E_fila</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obtem_o_caso_selecionado.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtem_Fila</targetReference>
            </connector>
            <label>É fila</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>concatenatedDescription</name>
        <dataType>String</dataType>
        <expression>{!oldDescription} + &apos; &apos; + TEXT(DATETIMEVALUE({!$Flow.CurrentDateTime})) + {!newDescriptionToAdd}</expression>
    </formulas>
    <interviewLabel>[Bot] Obter agente responsável pelo caso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] Obter agente responsável pelo caso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obtem_Fila</name>
        <label>Obtem CMT</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Atribui_fila_output_e_nova_descri_o_para_concatenar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseQueue_Label__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtem_o_caso_selecionado.Owner:Group.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MapQueue__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtem_o_caso_selecionado</name>
        <label>Obtem o caso selecionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>O_Owner_fila_ou_usuario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Description</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_descri_o</name>
        <label>Atualiza descrição</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtem_o_caso_selecionado.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>concatenatedDescription</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obtem_o_caso_selecionado</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>fila</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newDescriptionToAdd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>oldDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
