force-app/main/default/flows/Bot_Atualiza_Campos_do_Caso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_new_AcountId</name>
        <label>Assign new AcountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newCaseAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_ContractId_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_ContractId</name>
        <label>Assign new ContractId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newCaseContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseContractId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_ImovelId_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_ImovelId</name>
        <label>Assign new ImovelId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newCaseImovelId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseImovelId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case_imovel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_same_ContractId</name>
        <label>Assign same ContractId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newCaseContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Infos.CA_Contrato__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_ImovelId_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_same_ImovelId</name>
        <label>Assign same ImovelId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newCaseImovelId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Infos.CA_Imovel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case_imovel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignContractId</name>
        <label>Assign ContractId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newCaseContractId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imovel_do_Contrato.CA_Contratos__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_ImovelId_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_new_AcountId</name>
        <label>Assign same AcountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newCaseAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Infos.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_ContractId_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_same_AcountId</name>
        <label>Assign same AcountId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newCaseAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Infos.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_ContractId_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_same_ImovelId</name>
        <label>Assign same ImovelId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newCaseImovelId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Infos.CA_Imovel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case_imovel</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_AccountId_changed</name>
        <label>Has AccountId changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_ContractId_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_different_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Infos.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>caseAccountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_AcountId</targetReference>
            </connector>
            <label>Yes, different account</label>
        </rules>
        <rules>
            <name>No_same_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseAccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Case_Infos.AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>caseAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_new_AcountId</targetReference>
            </connector>
            <label>No, same account</label>
        </rules>
        <rules>
            <name>No_its_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseAccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_same_AcountId</targetReference>
            </connector>
            <label>No, its null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_ContractId_changed</name>
        <label>Has ContractId changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_ImovelId_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_different_contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Infos.CA_Contrato__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>caseContractId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_ContractId</targetReference>
            </connector>
            <label>yes,different contract</label>
        </rules>
        <rules>
            <name>no_same_contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Infos.CA_Contrato__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>caseContractId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_same_ContractId</targetReference>
            </connector>
            <label>no, same contract</label>
        </rules>
        <rules>
            <name>no_contract_its_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseContractId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignContractId</targetReference>
            </connector>
            <label>no, contract its null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_ImovelId_changed</name>
        <label>Has ImovelId changed?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_case_imovel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_different_imovel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseImovelId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Infos.CA_Imovel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>caseImovelId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_ImovelId</targetReference>
            </connector>
            <label>yes,different imovel</label>
        </rules>
        <rules>
            <name>no_same_imovel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseImovelId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Infos.CA_Imovel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>caseImovelId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_same_ImovelId</targetReference>
            </connector>
            <label>no, same imovel</label>
        </rules>
        <rules>
            <name>no_imovel_its_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseImovelId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_same_ImovelId</targetReference>
            </connector>
            <label>no, imovel its null</label>
        </rules>
    </decisions>
    <description>O flow invocado recebe alguns inputs (como: recordId (caso), caseAccountId, caseImovelId, caseContractId etc.) a partir do bot e atualiza o caso relacionado com os novos valores</description>
    <environments>Default</environments>
    <interviewLabel>[Bot] Atualiza Campos do Caso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] Atualiza Campos de Caso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Infos</name>
        <label>Get Case Infos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Imovel_do_Contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Imovel_do_Contrato</name>
        <label>Get Imovel do Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_AccountId_changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Imovel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Infos.CA_Imovel__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_ImoveisContratos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_case_imovel</name>
        <label>Update case imovel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Infos.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>newCaseAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Contrato__c</field>
            <value>
                <elementReference>newCaseContractId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Imovel__c</field>
            <value>
                <elementReference>newCaseImovelId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Infos</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseDataList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseImovelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newCaseAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newCaseContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newCaseImovelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
