force-app/main/default/flows/Bot_Check_Contract_End_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_EnderecoFormatado_to_imovel_and_isBeforeToday</name>
        <label>Assign EnderecoFormatado to imovel and isBeforeToday</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isBeforeToday</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>imovelEnderecoFormatado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>imovelEnderecoFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>beforeToday_false</name>
        <label>beforeToday = false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isBeforeToday</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>imovelEnderecoFormatado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>imovelEnderecoFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_beforeToday_false</name>
        <label>beforeToday = false</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isBeforeToday</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>imovelEnderecoFormatado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>imovelEnderecoFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_contract_end_date</name>
        <label>Check contract end date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>beforeToday_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>after today</defaultConnectorLabel>
        <rules>
            <name>before_today</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.CA_DataFinal__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contract.CA_DataFinal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_EnderecoFormatado_to_imovel_and_isBeforeToday</targetReference>
            </connector>
            <label>before today</label>
        </rules>
        <rules>
            <name>before_today_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.CA_DataFinal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_beforeToday_false</targetReference>
            </connector>
            <label>before today is null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>imovelEnderecoFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Imovel.CA_Endereco__Street__s} + 
IF(ISBLANK({!Get_Imovel.CA_NumeroEndereco__c}), &quot;&quot;, &quot;, &quot; + {!Get_Imovel.CA_NumeroEndereco__c}) + 
IF(ISBLANK({!Get_Imovel.CA_Complemento__c}), &quot;&quot;, &quot; - &quot; + {!Get_Imovel.CA_Complemento__c}) + 
IF(ISBLANK({!Get_Imovel.CA_Bairro__c}), &quot;&quot;, &quot; - &quot; + {!Get_Imovel.CA_Bairro__c}) + &quot;, &quot; +
{!Get_Imovel.CA_Endereco__City__s}</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>[Bot] Check Contract End Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verifica a data final do contrato e obtem o endereço do imovel do contrato</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Imovel_do_Contrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Imovel</name>
        <label>Get Imovel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_contract_end_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Imovel_do_Contrato.CA_Imovel__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_Imovel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Imovel_do_Contrato</name>
        <label>Get Imovel do Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Imovel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Contratos__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_ImoveisContratos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>imovelEnderecoFormatado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isBeforeToday</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
