force-app/main/default/flows/Bot_Obter_Imovel_com_Id_ou_Id_com_Imovel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Imovel_Id_To_imovelIds</name>
        <label>Add Imovel.Id To imovelIds</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>imovelIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Imovel.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Imovel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Imovel_To_Imoveis</name>
        <label>Add Imovel To Imoveis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Imoveis</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Imovel_by_imovelId_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_imovelId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Id_By_Imovel_Id</name>
        <label>Assign Id By Imovel.Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>imovelId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Imovel.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>imovelId_or_Imovel_filled</name>
        <label>imovelId or Imovel filled?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>imovelIds_or_Imoveis_filled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Both or none</defaultConnectorLabel>
        <rules>
            <name>imovelId_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>imovelId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Imovel.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Imovel_By_imovelId</targetReference>
            </connector>
            <label>imovelId (Text)</label>
        </rules>
        <rules>
            <name>Imovel_filled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>imovelId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Imovel.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Id_By_Imovel_Id</targetReference>
            </connector>
            <label>Imovel (Record)</label>
        </rules>
    </decisions>
    <decisions>
        <name>imovelIds_or_Imoveis_filled</name>
        <label>imovelIds or Imoveis filled?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Both or none</defaultConnectorLabel>
        <rules>
            <name>imovelIds_List_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>imovelIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Imoveis</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_imovelId</targetReference>
            </connector>
            <label>imovelIds (List&lt;Id&gt;)</label>
        </rules>
        <rules>
            <name>Imoveis_List_CA_Imovel_c</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>imovelIds</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Imoveis</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Imovel</targetReference>
            </connector>
            <label>Imoveis (List&lt;CA_Imovel__c&gt;)</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Bot] {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] Obter Imovel com Id ou Id com Imovel</label>
    <loops>
        <name>Loop_Imovel</name>
        <label>Loop Imovel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Imoveis</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Imovel_Id_To_imovelIds</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_imovelId</name>
        <label>Loop imovelId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>imovelIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Imovel_by_imovelId_Loop</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Imovel_By_imovelId</name>
        <label>Get Imovel By imovelId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>imovelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_Imovel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Imovel_by_imovelId_Loop</name>
        <label>Get Imovel by imovelId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Imovel_To_Imoveis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_imovelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_Imovel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>imovelId_or_Imovel_filled</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Imoveis</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CA_Imovel__c</objectType>
    </variables>
    <variables>
        <name>Imovel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CA_Imovel__c</objectType>
    </variables>
    <variables>
        <name>imovelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>imovelIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
