force-app/main/default/flows/Bot_Create_Protocol_Number_In_Msg.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Messaging_Protocolo</name>
        <label>Messaging Protocolo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MessagingSession.Protocolo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varProtocoloId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_Messaging_Session_com_Protocolo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Protocolo_Id</name>
        <label>Protocolo Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varProtocoloId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gerar_Numero_Protocolo.IdProtocolo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_2</name>
        <label>Decision 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MessagingSession_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MessagingSession.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Messaging_Protocolo</targetReference>
            </connector>
            <label>MessagingSession Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Null</name>
        <label>Is Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inMessagingSessionId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MessagingSession</targetReference>
            </connector>
            <label>Outcome 1 of Decision 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Bot] Create Protocol Number In Msg {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] Create Protocol Number In Msg</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Gerar_Numero_Protocolo</name>
        <label>Gerar Numero Protocolo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Protocolo_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>IdCase__c</field>
        </inputAssignments>
        <object>Protocolo__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>MessagingSession</name>
        <label>MessagingSession</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inMessagingSessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Messaging_Session_com_Protocolo</name>
        <label>Atualizar Messaging Session com Protocolo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>MessagingSession</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Gerar_Numero_Protocolo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inMessagingSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProtocoloId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
