force-app/main/default/flows/CA_AlteracaoProprietario.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>CA_MontagemUniqueKey</name>
        <label>Montagem unique key</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recipientUniqueKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUniqueKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CA_ObterFormulariosImovelSemelhantes</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>CA_JaFoiEncontradoFormularioEssesDados</name>
        <label>Já foi encontrado um formulário com esses dados?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CA_ScreenPreencher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não existe</defaultConnectorLabel>
        <rules>
            <name>CA_JaExisteFormulario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CA_GetFormularioCaso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CA_ScreenJaEncontrado</targetReference>
            </connector>
            <label>Já existe formulário</label>
        </rules>
    </decisions>
    <decisions>
        <name>CA_VerificaUniqueKeyExisteDuplicata</name>
        <label>Verifica Unique Key se existe duplicata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CA_ScreenExistenteFormulario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existe</defaultConnectorLabel>
        <rules>
            <name>CA_NaoExiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CA_ObterFormulariosImovelSemelhantes.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CA_CriarCaso</targetReference>
            </connector>
            <label>Não existe registro semelhante</label>
        </rules>
    </decisions>
    <description>https://codeartsolutions.atlassian.net/browse/AP-110</description>
    <dynamicChoiceSets>
        <name>CA_ConjugeGenero</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_GeneroDadosConjuge__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_EstadoCivielDadosConjuge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoCivilDadosConjuge__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_EstadoCivilDadosConjuge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoCivilDadosConjuge__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_EstadoCivilDadosNovoProprietario</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoCivilDadosNovoInquilino__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_EstadoCivilDadosRepresentante</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoCivilDadosRepresentante__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_EstadoDadosNovoProprietario</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoUFDadosNovoInquilino__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_EstadoDadosRepresentante</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoDadosRepresentante__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_EstadoUFDadosConjuge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoDadosConjuge__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_GeneroDadosConjuges</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_GeneroDadosConjuge__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_GeneroDadosNovoProprietario</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_GeneroDadosNovoInquilino__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_GeneroDadosRepresentante</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_GeneroDadosRepresentante__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_RegimeCasamentoDadosConjuge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_RegimeCasamentoDadosConjuge__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_RegimeCasamentoDadosNovoProprietario</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_RegimeCasamentoDadosNovoInquilino__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_RegimeCasamentoDadosRepresentante</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_RegimeCasamentoDadosRepresentante__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_TipoContaDadosNovoProprietario</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_TipoContaDadosNovoInquilino__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>varUniqueKey</name>
        <dataType>String</dataType>
        <expression>{!varAccountId} &amp; &quot;_&quot; &amp; {!varImovelId} &amp; &quot;_&quot; &amp; &apos;_AlteracaoInquilino&apos;</expression>
    </formulas>
    <interviewLabel>[C {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Case - Imóvel e Conta] Formulário do caso - Alteração Inquilino</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CA_CriarCaso</name>
        <label>Criar caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>newCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>CA_ObterCasoCriado</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CA_GetGroupQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CA_GetRecordTypeGestaoContrato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Alteração proprietário - {!varAccountId}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Alteração cadastral e contratual</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CA_CriarFormulariocaso</name>
        <label>Criar Formulário do caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varFormularioCasoId</assignRecordIdToReference>
        <connector>
            <targetReference>ScreenConcluido</targetReference>
        </connector>
        <inputAssignments>
            <field>CA_BairroDadosConjuge__c</field>
            <value>
                <elementReference>CA_Bairro_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_BairroDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_Bairro_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CEPDadosConjuge__c</field>
            <value>
                <elementReference>CA_CEP_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CEPDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_CEP_DadosNovoProprietario</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CPFDadosConjuge__c</field>
            <value>
                <elementReference>CA_CPF_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CPFDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_CPF_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CargoDadosConjuge__c</field>
            <value>
                <elementReference>CA_Cargo_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CargoDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_Cargo_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Caso__c</field>
            <value>
                <elementReference>newCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CelularDadosConjuge__c</field>
            <value>
                <elementReference>CA_Celular_DadosConjuge.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CelularDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_Celular_DadosNovoInquilino.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CidadeDadosConjuge__c</field>
            <value>
                <elementReference>CA_Cidade_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CidadeDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_Cidade_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_ComplementoDadosConjuge__c</field>
            <value>
                <elementReference>CA_Complemento_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_ComplementoDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_Complemento_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Conta__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EmailDadosConjuge__c</field>
            <value>
                <elementReference>CA_Email_DadosConjuge.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EmailDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_Email_DadosNovoInquilino.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EmpresaDadosConjuge__c</field>
            <value>
                <elementReference>CA_Empresa_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Empresa__c</field>
            <value>
                <elementReference>CA_Empresa_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EnderecoDadosConjuge__c</field>
            <value>
                <elementReference>CA_Endereco_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EnderecoDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_Endereco_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EstadoCivilDadosConjuge__c</field>
            <value>
                <elementReference>CA_EstadoCiviloDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EstadoCivilDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_EstadoCivil_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EstadoDadosConjuge__c</field>
            <value>
                <elementReference>CA_Estado_UFConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EstadoUFDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_Estado_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_FormularioSubmetido__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_GeneroDadosConjuge__c</field>
            <value>
                <elementReference>CA_Genero_DadoConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_GeneroDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_Genero_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Imovel__c</field>
            <value>
                <elementReference>varImovelId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NacionalidadeDadosConjuge__c</field>
            <value>
                <elementReference>CA_Nacionalidade_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NacionalidadeDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_Nacionalidade_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NaturalidadeDadosConjuge__c</field>
            <value>
                <elementReference>CA_Naturalidade_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NaturalidadeDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_Naturalidade_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NomeDadosConjuge__c</field>
            <value>
                <elementReference>CA_Nome_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NomeDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_Nome_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NomeSocialDadosConjuge__c</field>
            <value>
                <elementReference>CA_NomeSocial_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NomeSocialDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_NomeSocial_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NumeroDadosConjuge__c</field>
            <value>
                <elementReference>CA_Numero_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NumeroDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_Numero_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_ProfissaoDadosConjuge__c</field>
            <value>
                <elementReference>CA_Profissao_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_ProfissaoDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_Profissao_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_RGDadosConjuge__c</field>
            <value>
                <elementReference>CA_RG_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_RGDadosNovoProprietario__c</field>
            <value>
                <elementReference>CA_RG_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_RegimeCasamentoDadosConjuge__c</field>
            <value>
                <elementReference>CA_RegimeCasamento_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_RegimeCasamentoDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_RegimeCasamento_DadosNovoInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_TelefoneTrabalhoDadosConjuge__c</field>
            <value>
                <elementReference>CA_TelefoneTrabalho_DadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_TelefoneTrabalhoDadosNovoInquilino__c</field>
            <value>
                <elementReference>CA_TelefoneTrabalho_DadosNovoInquilino.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_UniqueKey__c</field>
            <value>
                <elementReference>recipientUniqueKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CA_GetGroupQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CA_GetRecordTypeAlteracaoProprietario.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CA_FormularioCaso__c</object>
    </recordCreates>
    <recordLookups>
        <name>CA_GetFormularioCaso</name>
        <label>Get Formulário do caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_GetGroupQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Conta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CA_Imovel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varImovelId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CA_GetRecordTypeAlteracaoProprietario.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CA_FormularioSubmetido__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_FormularioCaso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_GetGroupQueue</name>
        <label>Get Group/Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_GetImovel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA_OperacoesAdmFinanceiro</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_GetImovel</name>
        <label>Get Imóvel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_JaFoiEncontradoFormularioEssesDados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varImovelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_Imovel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_GetRecordTypeAlteracaoProprietario</name>
        <label>Get Record Type Alteração do Proprietário</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_GetRecordTypeGestaoContrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Alteração do inquilino</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_GetRecordTypeGestaoContrato</name>
        <label>Get Record Type Gestão Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_GetFormularioCaso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gestão Contrato</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_ObterCasoCriado</name>
        <label>Obter caso criado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_CriarFormulariocaso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_ObterFormulariosImovelSemelhantes</name>
        <label>Obter formulários com imovel Semelhantes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_VerificaUniqueKeyExisteDuplicata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Imovel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CA_LkpImovel.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_FormularioCaso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CA_ScreenExistenteFormulario</name>
        <label>ScreenExistenteFormulario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTXTJaExistente</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Falha por violação da chave única! foram verificados as informações e já existe uma chave com essa conta e esse imóvel vinculados.&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); font-family: &amp;quot;Google Sans&amp;quot;, Arial, sans-serif; color: rgb(31, 31, 31);&quot;&gt;😢&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CA_ScreenJaEncontrado</name>
        <label>ScreenJaEncontrado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenTXTJaexiste</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Já existe um formulário preenchido com essas informações atualmente!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CA_ScreenPreencher</name>
        <label>ScreenPreencher</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CA_TelaConfirmacaoDadosPreenchidos</targetReference>
        </connector>
        <fields>
            <name>ScreenPreencha</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif;&quot;&gt;Para Iniciar o processo de Alteração preencha os dados abaixo:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CA_Dadossolicitacao</name>
            <fieldText>Dados da solicitação</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CA_Dadossolicitacao_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_ContaLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CA_FormularioCaso__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CA_Conta__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Conta</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EnderecoCidade</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_GetImovel.CA_Endereco__City__s</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Cidade)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EnderecoEstado</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_GetImovel.CA_Endereco__StateCode__s</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Estado)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CA_Dadossolicitacao_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_LkpImovel</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CA_Imovel__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CA_FormularioCaso__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Imóvel</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varImovelId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EnderecoRua</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_GetImovel.CA_Endereco__Street__s</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Rua)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CA_DadosNovoInquilino</name>
            <fieldText>Dados do Novo Inquilino:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CA_DadosNovoInquilino_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_Nome_DadosNovoInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CPF_DadosNovoInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>CPF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;👉 Para aceitar &lt;strong&gt;com máscara&lt;/strong&gt; (&lt;code&gt;000.000.000-00&lt;/code&gt;) &lt;strong&gt;ou só números&lt;/strong&gt; (&lt;code&gt;00000000000&lt;/code&gt;):&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
  REGEX({!CA_CPF_DadosNovoInquilino}, &quot;^[0-9]{11}$&quot;),
  REGEX({!CA_CPF_DadosNovoInquilino}, &quot;^[0-9]{3}\\.[0-9]{3}\\.[0-9]{3}\\-[0-9]{2}$&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>CA_Profissao_DadosNovoInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Profissão</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Genero_DadosNovoInquilino</name>
                    <choiceReferences>CA_GeneroDadosNovoProprietario</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gênero</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EstadoCivil_DadosNovoInquilino</name>
                    <choiceReferences>CA_EstadoCivilDadosNovoProprietario</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Estado civil</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Celular_DadosNovoInquilino</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Celular</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Endereco_DadosNovoInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Endereço (Rua)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Complemento_DadosNovoInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Complemento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Cidade_DadosNovoInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Estado_DadosNovoInquilino</name>
                    <choiceReferences>CA_EstadoDadosNovoProprietario</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Estado (UF)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_TelefoneTrabalho_DadosNovoInquilino</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefone (Trabalho)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CA_DadosNovoInquilino_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_NomeSocial_DadosNovoInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Nome social</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RG_DadosNovoInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>RG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&quot;Digite o RG válido com 7 a 14 dígitos (somente números ou com pontos/hífen)&quot;.&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
  REGEX({!CA_RG_DadosNovoInquilino}, &quot;^[0-9]{7,14}$&quot;),
  REGEX({!CA_RG_DadosNovoInquilino}, &quot;^[0-9]{2}\\.[0-9]{3}\\.[0-9]{3}\\-[0-9]{1,2}$&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>CA_Naturalidade_DadosNovoInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Naturalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Nacionalidade_DadosNovoInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Nacionalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RegimeCasamento_DadosNovoInquilino</name>
                    <choiceReferences>CA_RegimeCasamentoDadosNovoProprietario</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Regime casamento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Email_DadosNovoInquilino</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>E-mail </stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Numero_DadosNovoInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Número</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Bairro_DadosNovoInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CEP_DadosNovoProprietario</name>
                    <dataType>String</dataType>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Empresa_DadosNovoInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Empresa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Cargo_DadosNovoInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Cargo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Dados_do_C_njuge</name>
            <fieldText>Dados do Cônjuge:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dados_do_C_njuge_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_Nome_DadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CPF_DadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>CPF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;👉 Se você quer aceitar &lt;strong&gt;com máscara&lt;/strong&gt; (&lt;code&gt;000.000.000-00&lt;/code&gt;) &lt;strong&gt;ou só números&lt;/strong&gt; (&lt;code&gt;00000000000&lt;/code&gt;):&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
  REGEX({!CA_CPF_DadosConjuge}, &quot;^[0-9]{11}$&quot;),
  REGEX({!CA_CPF_DadosConjuge}, &quot;^[0-9]{3}\\.[0-9]{3}\\.[0-9]{3}\\-[0-9]{2}$&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>CA_Naturalidade_DadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Naturalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Genero_DadoConjuge</name>
                    <choiceReferences>CA_GeneroDadosConjuges</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gênero</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RegimeCasamento_DadosConjuge</name>
                    <choiceReferences>CA_RegimeCasamentoDadosConjuge</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Regime casamento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Email_DadosConjuge</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Numero_DadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Número</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Bairro_DadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CEP_DadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Empresa_DadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Empresa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_TelefoneTrabalho_DadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Telefone (Trabalho)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dados_do_C_njuge_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_NomeSocial_DadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Nome social</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RG_DadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>RG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;✅ Se quiser permitir &lt;strong&gt;números com pontos e hífen&lt;/strong&gt; (ex.: &lt;code&gt;12.345.678-9&lt;/code&gt;):&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
  REGEX({!CA_RG_DadosConjuge}, &quot;^[0-9]{7,14}$&quot;),
  REGEX({!CA_RG_DadosConjuge}, &quot;^[0-9]{2}\\.[0-9]{3}\\.[0-9]{3}\\-[0-9]{1,2}$&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>CA_Profissao_DadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Profissão</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Nacionalidade_DadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Nacionalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EstadoCiviloDadosConjuge</name>
                    <choiceReferences>CA_EstadoCivielDadosConjuge</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Estado Civil</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Celular_DadosConjuge</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Celular</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Endereco_DadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Endereço (Rua)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Complemento_DadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Complemento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Estado_UFConjuge</name>
                    <choiceReferences>CA_EstadoUFDadosConjuge</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Estado (UF)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Cidade_DadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_Cargo_DadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Cargo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CA_TelaConfirmacaoDadosPreenchidos</name>
        <label>Tela de confirmação de dados preenchidos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CA_MontagemUniqueKey</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ScreenPreencha</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Revise seus dados abaixo!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Atenção no preenchimento anterior, verifique abaixo e clique em &quot;avançar&quot; se estiver tudo conforme!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CA_DadosSolicitacao2</name>
            <fieldText>Dados da Solicitação</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CA_DadosSolicitacao2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Conta</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CA_FormularioCaso__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CA_Conta__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Conta</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>CA_ContaLookup.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EnderecoCidade2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_EnderecoCidade</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Cidade)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EnderecoeEstado</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_EnderecoEstado</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Estado)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CA_DadosSolicitacao2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_RepeatLkpImovel</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CA_Imovel__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Imóvel</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CA_FormularioCaso__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>CA_LkpImovel.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EnderecoRua</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_EnderecoRua</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Rua)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CA_DadosNovoProprietario</name>
            <fieldText>Dados do Novo Proprietário:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CA_DadosNovoProprietario_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_CA_Nome_DadosNovoProprietario</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Nome_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CPF_DadosNovoProprietario</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_CPF_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>CPF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Profissao_DadosNovoProprietario</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Profissao_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Profissão</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Genero_DadosNovoProprietario</name>
                    <choiceReferences>CA_GeneroDadosNovoProprietario</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Genero_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Gênero</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_EstadoCivil_DadosNovoProprietario</name>
                    <choiceReferences>CA_EstadoCivilDadosNovoProprietario</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_EstadoCivil_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Estado civil</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Celular_DadosNovoProprietario</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Celular</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>CA_Celular_DadosNovoInquilino.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Endereco_DadosNovoProprietario</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Endereco_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Rua)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Complemento_DadosNovoProprietario</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Complemento_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Complemento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Cidade_DadosNovoProprietario</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Cidade_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Estado_DadosNovoProprietario</name>
                    <choiceReferences>CA_EstadoDadosNovoProprietario</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Estado_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Estado (UF)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_TelefoneTrabalho_DadosNovoProprietario</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefone (Trabalho)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>CA_TelefoneTrabalho_DadosNovoInquilino.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Cargo_DadosNovoProprietario</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Cargo_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Cargo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CA_DadosNovoProprietario_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_CA_NomeSocial_DadosNovoProprietario</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NomeSocial_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Nome social</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_RG_DadosNovoProprietario</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_RG_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>RG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Naturalidade_DadosNovoProprietario</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Naturalidade_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Naturalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Nacionalidade_DadosNovoProprietario</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Nacionalidade_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Nacionalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_RegimeCasamento_DadosNovoProprietario</name>
                    <choiceReferences>CA_RegimeCasamentoDadosNovoProprietario</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_RegimeCasamento_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Regime casamento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Email_DadosNovoProprietario</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>E-mail </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>CA_Email_DadosNovoInquilino.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Numero_DadosNovoProprietario</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Numero_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Número</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Bairro_DadosNovoProprietario</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Bairro_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CEP_DadosNovoProprietario</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_CEP_DadosNovoProprietario</elementReference>
                    </defaultValue>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Empresa_DadosNovoProprietario</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Empresa_DadosNovoInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Empresa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CA_DadosConjuge</name>
            <fieldText>Dados do Cônjuge:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CA_DadosConjuge_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_CA_Nome_DadosConjuge</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Nome_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CPF_DadosConjuge</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_CPF_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>CPF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Naturalidade_DadosConjuge</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Naturalidade_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Naturalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_RegimeCasamento_DadosConjuge</name>
                    <choiceReferences>CA_RegimeCasamentoDadosConjuge</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_RegimeCasamento_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Regime casamento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CopyGenero_Conjuge</name>
                    <choiceReferences>CA_ConjugeGenero</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Genero_DadoConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Gênero</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Email_DadosConjuge</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>CA_Email_DadosConjuge.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Numero_DadosConjuge</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Numero_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Número</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Bairro_DadosConjuge</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Bairro_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CEP_DadosConjuge</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_CEP_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Empresa_DadosConjuge</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Empresa_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Empresa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_TelefoneTrabalho_DadosConjuge</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_TelefoneTrabalho_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Telefone (Trabalho)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CA_DadosConjuge_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_CA_NomeSocial_DadosConjuge</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NomeSocial_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Nome social</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_RG_DadosConjuge</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_RG_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>RG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Profissao_DadosConjuge</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Profissao_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Profissão</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EstadoCivil_cDadosConjuge</name>
                    <choiceReferences>CA_EstadoCivilDadosConjuge</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_EstadoCiviloDadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Estado civil</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Nacionalidade_DadosConjuge</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Nacionalidade_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Nacionalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Celular_DadosConjuge</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Celular</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>CA_Celular_DadosConjuge.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Endereco_DadosConjuge</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Endereco_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Rua)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Complemento_DadosConjuge</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Complemento_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Complemento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Cidade_DadosConjuge</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Cidade_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CopyEmpresa_DadosConjuge</name>
                    <choiceReferences>CA_EstadoUFDadosConjuge</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Estado_UFConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Estado (UF)</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_Cargo_DadosConjuge</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_Cargo_DadosConjuge</elementReference>
                    </defaultValue>
                    <fieldText>Cargo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenConcluido</name>
        <label>ScreenConcluido</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenConcluidoTXT</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;O caso e o formulário do caso foram criados com sucesso! verifique a sua lista relacionada.&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); font-family: &amp;quot;Google Sans&amp;quot;, Arial, sans-serif; color: rgb(31, 31, 31);&quot;&gt;🤗&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CA_GetRecordTypeAlteracaoProprietario</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientUniqueKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFormularioCasoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varImovelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varParentCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
