force-app/main/default/flows/CA_BotObterImovelContaTipoRelacionamento.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Se_Proprietario_ou_Inquilino</name>
        <label>Add Se Proprietario ou Inquilino</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TipoRelacionamento</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Imovel_da_Conta.CA_TipoRelacionamento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Endereco</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Imovel_Selecionado.CA_Endereco__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cidade</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Imovel_Selecionado.CA_Endereco__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImovelId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Imovel_Selecionado.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>imovelContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImovelDoContrato.CA_Contratos__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Tipo_de_Relacionamento</name>
        <label>Assign Tipo de Relacionamento</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Obter_Imovel_da_Conta.CA_TipoRelacionamento__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TipoRelacionamento</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obter_contrato_do_imovel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Erro_na_Busca</name>
        <label>Atribui Erro na Busca</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FalhaBuscaImovel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Imovel_do_Contrato_Assignment</name>
        <label>Imovel do Contrato Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ImovelDoContrato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Imovel_do_contrato_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Atualizar_a_se_o_do_messaging</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Contrato_e_da_mesma_conta</name>
        <label>Contrato é da mesma conta?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Imovel_do_contrato_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Conta diferente</defaultConnectorLabel>
        <rules>
            <name>Mesma_conta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Imovel_do_contrato_Loop.CA_Contratos__r.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Imovel_do_contrato_Loop.CA_Contratos__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_TipoRegistroEsperado</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imovel_do_Contrato_Assignment</targetReference>
            </connector>
            <label>Mesma conta</label>
        </rules>
    </decisions>
    <decisions>
        <name>Imovel_da_Conta_Foi_Encontrado</name>
        <label>Imovel da Conta Foi Encontrado?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Atribui_Erro_na_Busca</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nao Encontrado</defaultConnectorLabel>
        <rules>
            <name>Encontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Imovel_da_Conta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Se_Proprietario_ou_Inquilino</targetReference>
            </connector>
            <label>Encontrado</label>
        </rules>
    </decisions>
    <decisions>
        <name>Imovel_foi_Encontrado</name>
        <label>Imovel foi Encontrado?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Atribui_Erro_na_Busca</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nao Encontrado</defaultConnectorLabel>
        <rules>
            <name>Imovel_Encontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Imovel_Selecionado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Imovel_da_Conta</targetReference>
            </connector>
            <label>Imovel Encontrado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formula_TipoRegistroEsperado</name>
        <dataType>String</dataType>
        <expression>IF({!TipoRelacionamento} = &apos;Proprietário&apos;, &apos;Tipo Administração&apos;, &apos;Tipo Locação&apos;)</expression>
    </formulas>
    <interviewLabel>[Bot] Obter Imovel da Conta e Tipo de Relacionamento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] Obter Imovel da Conta e Tipo de Relacionamento</label>
    <loops>
        <name>Imovel_do_contrato_Loop</name>
        <label>Imovel do contrato Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obter_contrato_do_imovel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contrato_e_da_mesma_conta</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Atualizar_a_se_o_do_messaging</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_contrato_do_imovel</name>
        <label>Obter Imovel do contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Imovel_do_contrato_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Imovel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Imovel_Selecionado.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CA_ImoveisContratos__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CA_Contratos__c</queriedFields>
        <queriedFields>CA_Imovel__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Imovel_da_Conta</name>
        <label>Obter Imovel da Conta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Tipo_de_Relacionamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Contas__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CA_Imovel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Imovel_Selecionado.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CA_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ativo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_ImoveisConta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Imovel_Selecionado</name>
        <label>Obter Imovel Selecionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Imovel_foi_Encontrado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImovelSelecionado.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_Imovel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterSecaoDoMessaginh</name>
        <label>Obter seção do messaging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_Imovel_Selecionado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRoteavel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_a_se_o_do_messaging</name>
        <label>Atualizar a seção do messaging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Imovel_da_Conta_Foi_Encontrado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterSecaoDoMessaginh.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CA_Contrato__c</field>
            <value>
                <elementReference>Imovel_do_contrato_Loop.CA_Contratos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Imovel__c</field>
            <value>
                <elementReference>ImovelSelecionado.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterSecaoDoMessaginh</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Cidade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Endereco</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FalhaBuscaImovel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IdRoteavel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>imovelContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ImovelDoContrato</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CA_ImoveisContratos__c</objectType>
    </variables>
    <variables>
        <name>ImovelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ImovelIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImovelSelecionado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CA_Imovel__c</objectType>
    </variables>
    <variables>
        <name>ImovelSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoRelacionamento</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
