force-app/main/default/flows/CA_BotContagemCasos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Info_Caso</name>
        <label>Add Info Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Caso.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Caso.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IdCaso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Caso.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasesId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterCasosCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Info_Casos</name>
        <label>Add Info Casos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ListaCasos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormulaListaCasos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CasesId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ObterCasosCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Casos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contagem_Casos</name>
        <label>Contagem Casos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QtdCasos</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ObterCasosCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Apenas_1_ou_Mais</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Preenche_assunto</name>
        <label>Preenche assunto</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Obter_Casos.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sem assunto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Obter_Casos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Apenas_1_ou_Mais</name>
        <label>Apenas 1 ou Mais</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Casos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QtdCasos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Caso</targetReference>
            </connector>
            <label>1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assunto_esta_preenchido</name>
        <label>Assunto está preenchido?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Preenche_assunto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Vazio</defaultConnectorLabel>
        <rules>
            <name>Preenchido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Obter_Casos.Subject</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Obter_Casos</targetReference>
            </connector>
            <label>Preenchido</label>
        </rules>
    </decisions>
    <description>Atualiza o GetRecords: Case.Status != &apos;Finalizado&apos; | Retira do GetRecords: Case.Subject != &apos;&apos;</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaHoje</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>FormulaListaCasos</name>
        <dataType>String</dataType>
        <expression>{!Loop_Casos.CaseNumber}+&quot; - &quot;+{!Loop_Casos.Subject}+BR()</expression>
    </formulas>
    <formulas>
        <name>FormulaStatus</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Loop_Caso.Status})=&quot;New&quot;, &quot;Novo&quot;,
    IF(TEXT({!Loop_Caso.Status})=&quot;On Hold&quot;, &quot;Em espera&quot;,
       IF(TEXT({!Loop_Caso.Status})=&quot;Closed&quot;, &quot;Fechado&quot;,
          IF(TEXT({!Loop_Caso.Status})=&quot;Escalated&quot;, &quot;Escalado&quot;,
            IF(TEXT({!Loop_Caso.Status})=&quot;Critical&quot;, &quot;Critical&quot;,
         &quot;&quot;)
          )
       )
   )
)</expression>
    </formulas>
    <interviewLabel>[Bot] Contagem Casos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] Contagem Casos</label>
    <loops>
        <name>Loop_Caso</name>
        <label>Loop Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ObterCasosCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Info_Caso</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Atualiza_Sesssao_do_Caso</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Casos</name>
        <label>Loop Casos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ObterCasosCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Info_Casos</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Obter_Casos</name>
        <label>Loop Obter Casos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>ObterCasosCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assunto_esta_preenchido</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Contagem_Casos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Casos</name>
        <label>Obter Casos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Obter_Casos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Finalizado</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>ObterCasosCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Subject</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Sesssao_do_Caso</name>
        <label>Atualiza Sesssao do Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdCaso</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CA_SessaoMessaging__c</field>
            <value>
                <elementReference>IdRoteavel</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Casos</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CasosListados</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!ListaCasos}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CasesId</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CasosTodos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdRoteavel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaCasos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ObterCasosCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>QtdCasos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
