force-app/main/default/flows/CA_BotBuscaContaPeloCNPJ.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Com_Cadastro</name>
        <label>Add Com Cadastro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CadastroExiste</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Conta_Pelo_CPFCNPJ.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NomeConta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Conta_Pelo_CPFCNPJ.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PerfilAlugueis</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Conta_Pelo_CPFCNPJ.CA_PerfilAlugueis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Conta_Pelo_CPFCNPJ.CA_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailMascarado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaMascaraEmail</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_Sem_Cadastro</name>
        <label>Add Sem Cadastro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CadastroExiste</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Não</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>ComCadastro</name>
        <label>Com Cadastro?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Sem_Cadastro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Conta_Pelo_CPFCNPJ</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Conta_no_Usuario_do_Messaging</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CpfNormalizado</name>
        <dataType>String</dataType>
        <expression>TRIM(
    SUBSTITUTE(
        SUBSTITUTE(
            SUBSTITUTE(
                SUBSTITUTE({!CPFCNPJ}, &quot;.&quot;, &quot;&quot;), 
            &quot;/&quot;, &quot;&quot;),
        &quot;-&quot;, &quot;&quot;),
    &quot; &quot;, &quot;&quot;)
)</expression>
    </formulas>
    <formulas>
        <name>FormulaMascaraEmail</name>
        <dataType>String</dataType>
        <expression>LEFT({!Obter_Conta_Pelo_CPFCNPJ.CA_Email__c}, 3) &amp;
LEFT(&quot;************************************************************************************************************&quot;, FIND(&quot;@&quot;, {!Obter_Conta_Pelo_CPFCNPJ.CA_Email__c}) - 3) &amp;
&quot;@&quot; &amp;
LEFT(&quot;************************************************************************************************************&quot;, FIND(&quot;.&quot;, {!Obter_Conta_Pelo_CPFCNPJ.CA_Email__c}, FIND(&quot;@&quot;, {!Obter_Conta_Pelo_CPFCNPJ.CA_Email__c})) - FIND(&quot;@&quot;, {!Obter_Conta_Pelo_CPFCNPJ.CA_Email__c}) - 1) &amp;
RIGHT(
  {!Obter_Conta_Pelo_CPFCNPJ.CA_Email__c},
  LEN({!Obter_Conta_Pelo_CPFCNPJ.CA_Email__c}) -
  FIND(&quot;.&quot;, {!Obter_Conta_Pelo_CPFCNPJ.CA_Email__c}, FIND(&quot;@&quot;, {!Obter_Conta_Pelo_CPFCNPJ.CA_Email__c})) + 1
)</expression>
    </formulas>
    <formulas>
        <name>FormulaTelefone</name>
        <dataType>String</dataType>
        <expression>MID({!Obter_Sessao_do_Messaging.MessagingEndUser.MessagingPlatformKey}, 3 , LEN({!Obter_Sessao_do_Messaging.MessagingEndUser.MessagingPlatformKey}) - 2 )</expression>
    </formulas>
    <interviewLabel>[Bot] Busca Conta Pelo CNPJ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] Busca Conta Pelo CNPJ</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Conta_Pelo_CPFCNPJ</name>
        <label>Obter Conta Pelo CPFCNPJ</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ComCadastro</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CA_CNPJ__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CpfNormalizado</elementReference>
            </value>
        </filters>
        <filters>
            <field>CA_CPF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CpfNormalizado</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Sessao_do_Messaging</name>
        <label>Obter Sessao do Messaging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_Conta_Pelo_CPFCNPJ</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRoteavel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Conta_no_Usuario_do_Messaging</name>
        <label>Atualiza Conta no Usuario do Messaging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Com_Cadastro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Sessao_do_Messaging.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obter_Conta_Pelo_CPFCNPJ.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Sessao_do_Messaging</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CadastroExiste</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPFCNPJ</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailMascarado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IdRoteavel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NomeConta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PerfilAlugueis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
