force-app/main/default/flows/CA_BotBuscaArtigo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Question</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Artigos.Question__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Answer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Artigos.Answer__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Artigos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Pergunta_e_Resposta_Artigo_Escolhido</name>
        <label>Atribui Pergunta e Resposta Artigo Escolhido</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Answer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Artigo_Selecionado.Answer__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Question</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Artigo_Selecionado.Question__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ArtigoEscolhido</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Contagem_Artigos</name>
        <label>Contagem Artigos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QtdArtigos</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obter_Artigo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantos_Artigos_Encontrados</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Quantos_Artigos_Encontrados</name>
        <label>Quantos Artigos Encontrados?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Apenas_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QtdArtigos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Artigos</targetReference>
            </connector>
            <label>Apenas 1</label>
        </rules>
        <rules>
            <name>Mais_de_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QtdArtigos</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TelaEscolha</targetReference>
            </connector>
            <label>Mais de 1</label>
        </rules>
        <rules>
            <name>Nenhum</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QtdArtigos</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Artigos_Todos</targetReference>
            </connector>
            <label>Nenhum</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ListaArtigos</name>
        <collectionReference>Obter_Artigo</collectionReference>
        <dataType>String</dataType>
        <displayField>Question__c</displayField>
        <object>Knowledge__kav</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ListaArtigosTodos</name>
        <collectionReference>Obter_Artigos_Todos</collectionReference>
        <dataType>String</dataType>
        <displayField>Question__c</displayField>
        <object>Knowledge__kav</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>[Bot] Busca Artigo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] Busca Artigo</label>
    <loops>
        <name>Loop_Artigos</name>
        <label>Loop Artigos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obter_Artigo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Tela1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Obter_Artigo</name>
        <label>Obter Artigo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contagem_Artigos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Title</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Titulo</elementReference>
            </value>
        </filters>
        <filters>
            <field>PublishStatus</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Artigo_Selecionado</name>
        <label>Obter Artigo Selecionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribui_Pergunta_e_Resposta_Artigo_Escolhido</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Escolha_o_Artigo</elementReference>
            </value>
        </filters>
        <filters>
            <field>KnowledgeArticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selecione_o_Artigo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Artigos_Todos</name>
        <label>Obter Artigos Todos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TelaTodosArtigos</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Knowledge__kav</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>ArtigoEscolhido</name>
        <label>ArtigoEscolhido</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TxtArtigoEscolhido</name>
            <fieldText>&lt;p&gt;{!Question}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Answer}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tela1</name>
        <label>Tela1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TxtArtigo</name>
            <fieldText>&lt;p&gt;{!Question}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Answer}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaEscolha</name>
        <label>TelaEscolha</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Obter_Artigo_Selecionado</targetReference>
        </connector>
        <fields>
            <name>Escolha_o_Artigo</name>
            <choiceReferences>ListaArtigos</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Escolha o Artigo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>TelaTodosArtigos</name>
        <label>TelaTodosArtigos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Obter_Artigo_Selecionado</targetReference>
        </connector>
        <fields>
            <name>TxtTodos</name>
            <fieldText>&lt;p&gt;Nenhum artigo encontrado. &lt;/p&gt;&lt;p&gt;Selecione um na lista de opções&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Selecione_o_Artigo</name>
            <choiceReferences>ListaArtigosTodos</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Selecione o Artigo</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Artigo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Answer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QtdArtigos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Question</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Titulo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
