force-app/main/default/flows/CA_BotConsultaBoletos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Acao_Consultar_Boletos_Auxiliadora_Predial</name>
        <label>Ação Consultar Boletos Auxiliadora Predial</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>BoletosController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Atribui_Sucesso</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cpfCnpj</name>
            <value>
                <elementReference>CPFCNPJ</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BoletosController</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Lista_Boletos</name>
        <label>Add Lista Boletos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ListaBoletos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormulaListaBoletos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Quantidade_Boletos</name>
        <label>Add Quantidade Boletos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>QuantidadeBoletos</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acao_Consultar_Boletos_Auxiliadora_Predial.quantidade</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Ha_Boletos_Em_Atraso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Boletos_Sem_Atraso</name>
        <label>Atribui Boletos Sem Atraso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>BoletosAtrasoAluguel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acao_Consultar_Boletos_Auxiliadora_Predial.aluguel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BoletosAtrasoCondominio</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acao_Consultar_Boletos_Auxiliadora_Predial.condominio</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Atribui_Mensagem_de_Erro</name>
        <label>Atribui Mensagem de Erro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Mensagem</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acao_Consultar_Boletos_Auxiliadora_Predial.message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CodigoErro</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acao_Consultar_Boletos_Auxiliadora_Predial.errorCode</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Atribui_Sucesso</name>
        <label>Atribui Sucesso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Sucesso</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Acao_Consultar_Boletos_Auxiliadora_Predial.success</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Retorno_Consulta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Informa_Vencido_Mais_de_7_Dias</name>
        <label>Informa Vencido Mais de 7 Dias</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>VencMais7Dias</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Lista_Boletos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ate_7_Dias_ou_Mais</name>
        <label>Ate 7 Dias ou Mais</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ate_7_Dias</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FormulaVencimento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não vencido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FormulaVencimento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vencido até 7 dias</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Lista_Boletos</targetReference>
            </connector>
            <label>Ate 7 Dias</label>
        </rules>
        <rules>
            <name>Mais_de_7_dias</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FormulaVencimento</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vencido mais de 7 dias</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Informa_Vencido_Mais_de_7_Dias</targetReference>
            </connector>
            <label>Mais de 7 dias</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ha_Boletos_Em_Atraso</name>
        <label>Ha Boletos Em Atraso?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Atribui_Boletos_Sem_Atraso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nao</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Acao_Consultar_Boletos_Auxiliadora_Predial.quantidade</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_1</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retorno_Consulta</name>
        <label>Retorno Consulta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Atribui_Mensagem_de_Erro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Erro</defaultConnectorLabel>
        <rules>
            <name>SucessoTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Acao_Consultar_Boletos_Auxiliadora_Predial.success</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Quantidade_Boletos</targetReference>
            </connector>
            <label>Sucesso true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaListaBoletos</name>
        <dataType>String</dataType>
        <expression>{!Loop_1.url}+BR()</expression>
    </formulas>
    <formulas>
        <name>FormulaVencimento</name>
        <dataType>String</dataType>
        <expression>IF(
   {!Loop_1.vencimento}&gt;= TODAY(),
   &quot;Não vencido&quot;,
   IF(
      {!Loop_1.vencimento}&gt;= TODAY() - 7,
      &quot;Vencido até 7 dias&quot;,
      &quot;Vencido mais de 7 dias&quot;
   )
)</expression>
    </formulas>
    <interviewLabel>[Bot] Consulta Boletos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] Consulta Boletos</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop Consulta Boletos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Acao_Consultar_Boletos_Auxiliadora_Predial.boletos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ate_7_Dias_ou_Mais</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Acao_Consultar_Boletos_Auxiliadora_Predial</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BoletosAtrasoAluguel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BoletosAtrasoCondominio</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CodigoErro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CPFCNPJ</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListaBoletos</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Mensagem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>QuantidadeBoletos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Sucesso</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VencMais7Dias</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
