force-app/main/default/flows/CA_BotObterImoveisConta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Ids_Imoveis</name>
        <label>Add Ids Imoveis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ImoveisId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Imoveis_da_Conta.CA_Imovel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>relacionamentoNome</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Imoveis_da_Conta.CA_TipoRelacionamento__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Imoveis_da_Conta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Lista_Imoveis</name>
        <label>Add Lista Imoveis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ListaImoveis</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FormulaLIstaImoveis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ColecaoImoveis</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Imoveis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>imovelId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Imoveis.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ImovelSelecionado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Imoveis</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Imoveis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ContagemDeImoveis</name>
        <label>Contagem de Imóveis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>numeroDeImoveis</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Obter_Imoveis_da_Conta</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Imoveis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Imovel_do_Contrato_Assignment</name>
        <label>Imovel do Contrato Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ImovelDoContrato</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Imovel_do_contrato_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ObterSessao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>imovelContract_assignment</name>
        <label>imovelContract assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>imovelContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImovelDoContrato.CA_Contratos__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Informa_Sem_Imoveis</name>
        <label>Informa Sem Imoveis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ListaImoveis</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sem Imóveis</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Conta_Com_Imoveis</name>
        <label>Conta Com Imoveis?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Informa_Sem_Imoveis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Imoveis_da_Conta</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Imoveis_da_Conta</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contrato_da_mesma_conta_e_ativo</name>
        <label>Contrato é da mesma conta e ativo?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Imovel_do_contrato_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Conta diferente ou inativo</defaultConnectorLabel>
        <rules>
            <name>Mesma_conta_e_ativo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Imovel_do_contrato_Loop.CA_Contratos__r.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>accountId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imovel_do_Contrato_Assignment</targetReference>
            </connector>
            <label>Mesma conta e ativo</label>
        </rules>
    </decisions>
    <decisions>
        <name>QuantidadeDeImoveisUm</name>
        <label>Quantidade de imóveis é um</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Um</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>numeroDeImoveis</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Imoveis_do_Contrato</targetReference>
            </connector>
            <label>Um</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaLIstaImoveis</name>
        <dataType>String</dataType>
        <expression>{!Loop_Imoveis.Name}+&quot; - &quot;+{!Loop_Imoveis.CA_Endereco__Street__s}+&quot;, &quot;+{!Loop_Imoveis.CA_Bairro__c}+&quot; - &quot;+{!Loop_Imoveis.CA_Endereco__City__s}+&quot; - &quot; +TEXT({!Loop_Imoveis.CA_Endereco__StateCode__s})+BR()</expression>
    </formulas>
    <interviewLabel>[Bot] Obter Imoveis da Conta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] Obter Imoveis da Conta</label>
    <loops>
        <name>Imovel_do_contrato_Loop</name>
        <label>Imovel do contrato Loop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obter_Imoveis_do_Contrato</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contrato_da_mesma_conta_e_ativo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ObterSessao</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Imoveis</name>
        <label>Loop Imoveis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obter_Imoveis</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Lista_Imoveis</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>QuantidadeDeImoveisUm</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Imoveis_da_Conta</name>
        <label>Loop Imoveis da Conta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Obter_Imoveis_da_Conta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Ids_Imoveis</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Obter_Imoveis</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Imoveis</name>
        <label>Obter Imoveis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContagemDeImoveis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ImoveisId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CA_Imovel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Imoveis_da_Conta</name>
        <label>Obter Imoveis da Conta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conta_Com_Imoveis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Contas__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CA_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ativo</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CA_ImoveisConta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Imoveis_do_Contrato</name>
        <label>Obter Imoveis do Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Imovel_do_contrato_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Imovel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>imovelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CA_ImoveisContratos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterSessao</name>
        <label>Obter sessão</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtualizarSessaoComImovel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRoteavel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarSessaoComImovel</name>
        <label>Atualizar sessão com imóvel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>imovelContract_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRoteavel</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CA_Contrato__c</field>
            <value>
                <elementReference>ImovelDoContrato.CA_Contratos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Imovel__c</field>
            <value>
                <elementReference>imovelId</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Imoveis_da_Conta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColecaoImoveis</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CA_Imovel__c</objectType>
    </variables>
    <variables>
        <name>idRoteavel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImoveisId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>imovelContract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ImovelDoContrato</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CA_ImoveisContratos__c</objectType>
    </variables>
    <variables>
        <name>imovelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ImovelSelecionado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CA_Imovel__c</objectType>
    </variables>
    <variables>
        <name>ListaImoveis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>numeroDeImoveis</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>relacionamentoNome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
