force-app/main/default/flows/CA_BotObterCasoSelecionado.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_infos_Caso_Selecionado</name>
        <label>Add infos Caso Selecionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Caso_Selecionado.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Caso_Selecionado.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Caso_Selecionado.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Caso_Nao_encontrado</name>
        <label>Caso Nao encontrado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CasoEncontrado</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Não</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Caso_Encontrado</name>
        <label>Caso Encontrado?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Caso_Nao_encontrado</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não Encontrado</defaultConnectorLabel>
        <rules>
            <name>Encontrado</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Caso_Selecionado</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualiza_Caso_na_Sessao</targetReference>
            </connector>
            <label>Encontrado</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaStatus</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Obter_Caso_Selecionado.Status})=&quot;New&quot;, &quot;Novo&quot;,
    IF(TEXT({!Obter_Caso_Selecionado.Status})=&quot;On Hold&quot;, &quot;Em espera&quot;,
       IF(TEXT({!Obter_Caso_Selecionado.Status})=&quot;Closed&quot;, &quot;Fechado&quot;,
          IF(TEXT({!Obter_Caso_Selecionado.Status})=&quot;Escalated&quot;, &quot;Escalado&quot;,
            IF(TEXT({!Obter_Caso_Selecionado.Status})=&quot;Critical&quot;, &quot;Critical&quot;,
         &quot;&quot;)
          )
       )
   )
)</expression>
    </formulas>
    <interviewLabel>[Bot] Obter Caso Selecionado {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] Obter Caso Selecionado</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Caso_Selecionado</name>
        <label>Obter Caso Selecionado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Caso_Encontrado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CasoSelecionado.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Conta</name>
        <label>Obter Conta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_Caso_Selecionado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Sessao.EndUserAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Sessao</name>
        <label>Obter Sessao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_Conta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRoteavel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Caso_na_Sessao</name>
        <label>Atualiza Caso na Sessao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atualiza_Sessao_no_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRoteavel</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CasoSelecionado.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Sessao_no_Caso</name>
        <label>Atualiza Sessao no Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_infos_Caso_Selecionado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Caso_Selecionado.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CA_SessaoMessaging__c</field>
            <value>
                <elementReference>Obter_Sessao.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Sessao</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CasoEncontrado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CasoSelecionado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>IdRoteavel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
