force-app/main/default/flows/CA_BotCriaCaso.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Rotear_o_caso_para_agente</name>
        <label>Rotear o caso para agente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Atualiza_Sessao_do_Messaging_Com_Caso</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Obtem_caso.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Central Aluguéis Casos</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <setupReference>caseChannel</setupReference>
                <setupReferenceType>ServiceChannel</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotId</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GU600000LgsecMAB</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>Obter_agente_user.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
        <versionString>2.0.0</versionString>
    </actionCalls>
    <actionCalls>
        <name>Route_Work_Action_1</name>
        <label>Rotear o caso para o gestor</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Copy_2_of_Atribui_endere_o_do_imovel</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>caseChannel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <setupReference>caseChannel</setupReference>
                <setupReferenceType>ServiceChannel</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotId</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>fallbackQueueId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>Fila</elementReference>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
        <versionString>2.0.0</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribui_endereco_do_imovel</name>
        <label>Atribui endereço do imovel e caseId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>imovelEndereco</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImovelSelecionado.CA_Endereco__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Fila</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Fila.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Sessao_do_Messaging_Com_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Atribui_endere_o_do_imovel_e_caseId</name>
        <label>Atribui endereço do imovel e caseId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>imovelEndereco</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImovelSelecionado.CA_Endereco__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Sessao_do_Messaging_Com_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Atribui_endere_o_do_imovel</name>
        <label>Atribui endereço do imovel e caseId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>imovelEndereco</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImovelSelecionado.CA_Endereco__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Sessao_do_Messaging_Com_Caso</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ja_tem_caso</name>
        <label>Já tem caso?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Obter_Tipo_de_Registro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não tem caso, cria</defaultConnectorLabel>
        <rules>
            <name>Sim_tem_caso</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Sessao_do_Messaging.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>naoDeveCriarCaso_inputDoBot</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obtem_caso</targetReference>
            </connector>
            <label>Tem caso, atualiza</label>
        </rules>
    </decisions>
    <decisions>
        <name>Redirecionar_para_o_gestor</name>
        <label>Redirecionar para o gestor?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Obter_Fila</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não, fila de atendimento</defaultConnectorLabel>
        <rules>
            <name>Sim_falar_com_gestor</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Fila</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fila</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>falarComGestor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Veio_do_di_logo_de_IPTU</targetReference>
            </connector>
            <label>Sim, falar com gestor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Rotear_para_fila_ou_agente</name>
        <label>Rotear para fila ou agente?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Obter_Fila</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Para fila de atendimento</defaultConnectorLabel>
        <rules>
            <name>Para_agente_de_atendimento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fila</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_agente_user</targetReference>
            </connector>
            <label>Para agente de atendimento</label>
        </rules>
    </decisions>
    <decisions>
        <name>Veio_do_di_logo_de_IPTU</name>
        <label>Veio do diálogo de IPTU Inq?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Cria_Caso</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não, rotear para o Omni</defaultConnectorLabel>
        <rules>
            <name>Sim_n_o_rotear_para_o_Omni</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>iptu_naoRotear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_Caso_sem_rotear</targetReference>
            </connector>
            <label>Sim, não rotear para o Omni</label>
        </rules>
    </decisions>
    <description>A partir da V. 8: Não redireciona Sessão de Mensagem</description>
    <environments>Default</environments>
    <formulas>
        <name>FormulaAssunto</name>
        <dataType>String</dataType>
        <expression>TEXT({!Obter_Imevel_da_Conta.CA_TipoRelacionamento__c})+&quot; - &quot;+{!ImovelSelecionado.CA_Endereco__Street__s}+&quot; - &quot;+{!ImovelSelecionado.CA_Endereco__City__s}</expression>
    </formulas>
    <formulas>
        <name>formulaFilaAtendimentoCaso</name>
        <dataType>String</dataType>
        <expression>{!Fila}+&quot; &quot;+&quot;Casos&quot;</expression>
    </formulas>
    <formulas>
        <name>FormulaFilaCaso</name>
        <dataType>String</dataType>
        <expression>{!Fila}+&quot; &quot;+&quot;Casos&quot;</expression>
    </formulas>
    <interviewLabel>[Bot] Cria Caso {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot] Cria ou atualiza caso</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Cria_Caso</name>
        <label>Cria Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Obtem_fila_de_fallback_caso_o_agente_esteja_indisponivel</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obter_Sessao_do_Messaging.EndUserAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Contrato__c</field>
            <value>
                <elementReference>Obter_Sessao_do_Messaging.CA_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Imovel__c</field>
            <value>
                <elementReference>Obter_Sessao_do_Messaging.CA_Imovel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_SessaoMessaging__c</field>
            <value>
                <elementReference>IdRoteavel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>motivoEscolhido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Fila</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Prioridade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>MotivoCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>MotivoCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TipoCaso</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Cria_Caso</name>
        <label>Cria Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Atribui_endereco_do_imovel</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obter_Sessao_do_Messaging.EndUserAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Contrato__c</field>
            <value>
                <elementReference>Obter_Sessao_do_Messaging.CA_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Imovel__c</field>
            <value>
                <elementReference>Obter_Sessao_do_Messaging.CA_Imovel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_SessaoMessaging__c</field>
            <value>
                <elementReference>IdRoteavel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>motivoEscolhido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Obtem_usuario_Padrao.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Prioridade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>MotivoCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>MotivoCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TipoCaso</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Cria_Caso_sem_rotear</name>
        <label>Cria Caso sem rotear</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Obter_caso_criado</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obter_Sessao_do_Messaging.EndUserAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Contrato__c</field>
            <value>
                <elementReference>Obter_Sessao_do_Messaging.CA_Contrato__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Imovel__c</field>
            <value>
                <elementReference>Obter_Sessao_do_Messaging.CA_Imovel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_SessaoMessaging__c</field>
            <value>
                <elementReference>IdRoteavel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>motivoEscolhido</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Prioridade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <elementReference>MotivoCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>MotivoCaso</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>TipoCaso</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_2_of_Obter_Fila</name>
        <label>Obter Fila</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualiza_a_fila_do_caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FormulaFilaCaso</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtem_caso</name>
        <label>Obtem caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rotear_para_fila_ou_agente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Sessao_do_Messaging.CaseId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Sessao_do_Messaging.EndUserAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtem_fila_de_fallback_caso_o_agente_esteja_indisponivel</name>
        <label>Obtem fila de fallback (caso o agente esteja indisponível)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Route_Work_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA_CentralAlugueisCasos</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>fallbackQueueId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Obtem_usuario_Padrao</name>
        <label>Obtem usuário Padrão</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cria_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Suporte Auxi</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_agente_user</name>
        <label>Obter agente (user)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Rotear_o_caso_para_agente</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fila</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_caso_criado</name>
        <label>Obter caso criado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atualizar_Fila_do_caso_criado</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Fila</name>
        <label>Obter Fila</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obtem_usuario_Padrao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aguardando roteamento (Casos)</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Imevel_da_Conta</name>
        <label>Obter Imevel da Conta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Redirecionar_para_o_gestor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Contas__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CA_Imovel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ImovelSelecionado.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_ImoveisConta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Sessao_do_Messaging</name>
        <label>Obter Sessao do Messaging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ja_tem_caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRoteavel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Tipo_de_Registro</name>
        <label>Obter Tipo de Registro</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_Imevel_da_Conta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoRegistro</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_a_fila_do_caso</name>
        <label>Atualiza a fila do caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atualiza_Sessao_do_Messaging_Com_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obtem_caso.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_2_of_Obter_Fila.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualiza_Sessao_do_Messaging_Com_Caso</name>
        <label>Atualiza Sessao do Messaging Com Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRoteavel</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>newCaseId</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Fila_do_caso_criado</name>
        <label>Atualizar Fila do caso criado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Atribui_endere_o_do_imovel_e_caseId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_caso_criado.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Fila</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Sessao_do_Messaging</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>falarComGestor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fallbackQueueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fila</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>filaGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdRoteavel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>imovelEndereco</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ImovelSelecionado</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CA_Imovel__c</objectType>
    </variables>
    <variables>
        <name>iptu_naoRotear</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MotivoCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>motivoEscolhido</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>naoDeveCriarCaso_inputDoBot</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>newCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Prioridade</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoRegistro</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
