force-app/main/default/flows/CA_CasosPreencherCamposContatoContaCasos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>[Casos] - Preencher com os Campos de Contato da Conta em Casos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Casos] - Preencher com os Campos de Contato da Conta em Casos</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CA_BuscarDadosConta</name>
        <label>Buscar dados da Conta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_AtualizarWhatsapp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CA_AtualizarTelefone</name>
        <label>Atualizar Telefone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CA_AtualizarTelefoneComercial</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Telefone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CA_Telefone__c</field>
            <value>
                <elementReference>CA_BuscarDadosConta.CA_Telefone__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CA_AtualizarTelefoneComercial</name>
        <label>Atualizar Telefone Comercial</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_TelefoneComercial__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CA_TelefoneComercial__c</field>
            <value>
                <elementReference>CA_BuscarDadosConta.CA_Telefonecomercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CA_AtualizarWhatsapp</name>
        <label>Atualizar Whatsapp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CA_AtualizarTelefone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Whatsapp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>CA_Whatsapp__c</field>
            <value>
                <elementReference>CA_BuscarDadosConta.CA_Whatsapp__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CA_BuscarDadosConta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
