force-app/main/default/flows/CA_RotearAuxiliadoraPredial.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Rotear_para_Fila_Central_Alugueis</name>
        <label>Rotear para Fila Central Alugueis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>LiveMessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Central Aluguéis</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <setupReference>sfdc_livemessage</setupReference>
                <setupReferenceType>ServiceChannel</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotId</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G88000005APqLEAW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
        <versionString>2.0.0</versionString>
    </actionCalls>
    <actionCalls>
        <name>Rotear_para_Owner</name>
        <label>Rotear para Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>LiveMessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>Roteamento Chat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Atendimento</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <setupReference>sfdc_livemessage</setupReference>
                <setupReferenceType>ServiceChannel</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <setupReference>Roteamento_Chat</setupReference>
                <setupReferenceType>QueueRoutingConfig</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotId</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G880000059fYvEAI</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>agentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
        <versionString>2.0.0</versionString>
    </actionCalls>
    <actionCalls>
        <description>Roteia todas as mensagens para fila Atendimento</description>
        <name>RoutingAction</name>
        <label>Rotear de Auxiliadora Predial</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9as000000A8ypCAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>LiveMessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>Obter_Fila.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotId</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Verifica_Disponibilidade</name>
        <label>Verifica Disponibilidade</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>checkAvailabilityForRouting</actionName>
        <actionType>checkAvailabilityForRouting</actionType>
        <connector>
            <targetReference>Tranfere_ou_Aguarda</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>LiveMessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedOutputs</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <setupReference>sfdc_livemessage</setupReference>
                <setupReferenceType>ServiceChannel</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>agentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <nameSegment>checkAvailabilityForRouting</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionString>2.0.0</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Nome_Fila_Central_Alugueis</name>
        <label>Add Nome Fila Central Alugueis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NomeFila</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Central Aluguéis</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obter_Fila</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Nome_Fila_Encontrada</name>
        <label>Add Nome Fila Encontrada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>NomeFila</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Sessao.CA_Fila__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obter_Fila</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Id_Agente</name>
        <label>Atribui Id Agente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>agentId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obter_Fila.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agentId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obter_Assistente_Alugu_is.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>agentId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obter_Gestor_De_Conta_Alugueis.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>agentId_Preenchida</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_Id_do_Proprietario_do_caso_na_Variaval_Agent_Id</name>
        <label>Atribui Id do Proprietario do caso na Variaval Agent Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>agentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NomeFila</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Verifica_Disponibilidade</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>agentId_Preenchida</name>
        <label>agentId Preenchida?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rotear_para_Fila_Central_Alugueis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nao</defaultConnectorLabel>
        <rules>
            <name>Preenchida</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>agentId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verifica_Disponibilidade</targetReference>
            </connector>
            <label>Preenchida</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assistente_Preenchido_na_Conta</name>
        <label>Assistente Preenchido na Conta?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rotear_para_Fila_Central_Alugueis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nao Preenchido</defaultConnectorLabel>
        <rules>
            <name>Assistente_Preenchido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Assistente_Alugu_is</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_Id_Agente</targetReference>
            </connector>
            <label>Assistente Preenchido</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fila_ou_Owner</name>
        <label>Fila ou Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>RoutingAction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fila</defaultConnectorLabel>
        <rules>
            <name>Owner</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Sessao.CA_Fila__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assistente Aluguéis</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Obter_Sessao.CA_Fila__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestor De Conta Aluguéis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verifica_Perfil_Alugueis</targetReference>
            </connector>
            <label>Owner</label>
        </rules>
        <rules>
            <name>Proprietario_do_Caso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Sessao.CA_Fila__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_Id_do_Proprietario_do_caso_na_Variaval_Agent_Id</targetReference>
            </connector>
            <label>Proprietario do Caso</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fila_Preenchida</name>
        <label>Fila Preenchida?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Nome_Fila_Central_Alugueis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Sessao.CA_Fila__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Nome_Fila_Encontrada</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gestor_ou_Assistente</name>
        <label>Gestor ou Assistente</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Obter_Assistente_Alugu_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Assistente Aluguéis</defaultConnectorLabel>
        <rules>
            <name>Gestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Sessao.CA_Fila__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gestor De Conta Aluguéis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Obter_Gestor_De_Conta_Alugueis</targetReference>
            </connector>
            <label>Gestor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gestor_Preenchido_na_Conta</name>
        <label>Gestor Preenchido na Conta?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Obter_Assistente_Alugu_is</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Gestor Não Preeenchido</defaultConnectorLabel>
        <rules>
            <name>Gestor_Preenchido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Gestor_De_Conta_Alugueis</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_Id_Agente</targetReference>
            </connector>
            <label>Gestor Preenchido</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tranfere_ou_Aguarda</name>
        <label>Tranfere ou Aguarda</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Rotear_para_Fila_Central_Alugueis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Transfere</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verifica_Disponibilidade.onlineAgentsCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rotear_para_Owner</targetReference>
            </connector>
            <label>Transfere</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verifica_Perfil_Alugueis</name>
        <label>Verifica Perfil Alugueis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Atribui_Id_Agente</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Essencial</defaultConnectorLabel>
        <rules>
            <name>Premium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Conta.CA_PerfilAlugueis__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gestor_ou_Assistente</targetReference>
            </connector>
            <label>Premium</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Rotear de Auxiliadora Predial {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rotear de Auxiliadora Predial</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Obter_Assistente_Alugu_is</name>
        <label>Obter Assistente Aluguéis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assistente_Preenchido_na_Conta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Conta.CA_AssistenteAlugueis__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Conta</name>
        <label>Obter Conta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fila_Preenchida</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Sessao.EndUserAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Fila</name>
        <label>Obter Fila</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fila_ou_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NomeFila</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Gestor_De_Conta_Alugueis</name>
        <label>Obter Gestor De Conta Aluguéis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gestor_Preenchido_na_Conta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Conta.CA_GestorContaAlugueis__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Sessao</name>
        <label>Obter Sessao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_Conta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Sessao</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>agentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NomeFila</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
