force-app/main/default/flows/CA_SessaoMensagemVinculaContaProprietario.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>[Sessão de Mensagem] Vincula Conta Proprietário {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Sessão de Mensagem] Vincula Conta Proprietário</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getImovelContaProprietario</name>
        <label>getImovelContaProprietario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>updateProprietarioImovel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Imovel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CA_Imovel__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CA_TipoRelacionamento__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proprietário</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_ImoveisConta__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUsuarioMensagem</name>
        <label>getUsuarioMensagem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getImovelContaProprietario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateProprietarioImovel</name>
        <label>updateProprietárioImovel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CA_ImoveisConta__c</field>
            <value>
                <elementReference>getImovelContaProprietario.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getUsuarioMensagem</targetReference>
        </connector>
        <filterFormula>OR(
	AND(
		isnew() , 
		{!$Record.CA_Imovel__c} != null
	), 
	ISCHANGED(
		{!$Record.CA_Imovel__c}
	)
)</filterFormula>
        <object>MessagingSession</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
