force-app/main/default/flows/CA_TrocaGarantiaNaoFiador.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>CA_MontagemUniqueKey</name>
        <label>Montagem unique key</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recipientUniqueKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUniqueKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CA_ObterFormulariosImovelSemelhantes</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>CA_JaFoiEncontradoFormularioEssesDados</name>
        <label>Já foi encontrado um formulário com esses dados?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CA_ScreenPreencher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não existe</defaultConnectorLabel>
        <rules>
            <name>CA_JaExisteFormulario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CA_GetFormularioCaso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CA_ScreenJaEncontrado</targetReference>
            </connector>
            <label>Já existe formulário</label>
        </rules>
    </decisions>
    <decisions>
        <name>CA_VerificaUniqueKeyExisteDuplicata</name>
        <label>Verifica Unique Key se existe duplicata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CA_ScreenExistenteFormulario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existe</defaultConnectorLabel>
        <rules>
            <name>CA_NaoExiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CA_ObterFormulariosImovelSemelhantes.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CA_CriarCaso</targetReference>
            </connector>
            <label>Não existe registro semelhante</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CA_EstadoCivilNaoFiador</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoCivilNaoFiador__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_EstadoNaoFiador</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoNaoFiador__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_GarantiaPretendidaNaoFiador</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_GarantiaPretendidaNaoFiador__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_GeneroNaoFiador</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_GeneroNaoFiador__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_RegimeCasamentoNaoFiador</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_RegimeCasamentoNaoFiador__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>varUniqueKey</name>
        <dataType>String</dataType>
        <expression>{!varAccountId} &amp; &quot;_&quot; &amp; {!varImovelId} &amp; &quot;_&quot; &amp; &apos;_TrocaGarantiaNaoFiador&apos;</expression>
    </formulas>
    <interviewLabel>[Case - Imóvel e Conta] Formulário do caso - Troca Garantia (Não Fiador) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Case - Imóvel e Conta] Formulário do caso - Troca Garantia (Não Fiador)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CA_CriarCaso</name>
        <label>Criar caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>newCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>CA_ObterCasoCriado</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CA_GetGroupQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CA_GetRecordTypeGestaoContrato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Troca Garantia (Não Fiador) - {!varAccountId}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Alteração cadastral e contratual</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CA_CriarFormulariocaso</name>
        <label>Criar Formulário do caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varFormularioCasoId</assignRecordIdToReference>
        <connector>
            <targetReference>ScreenConcluido</targetReference>
        </connector>
        <inputAssignments>
            <field>CA_BairroNaoFiador__c</field>
            <value>
                <elementReference>CA_BairroNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CEPNaoFiador__c</field>
            <value>
                <elementReference>CA_CEPNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CPFNaoFiador__c</field>
            <value>
                <elementReference>CA_CPFNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CargoNaoFiador__c</field>
            <value>
                <elementReference>CA_CargoNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Caso__c</field>
            <value>
                <elementReference>newCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CelularNaoFiador__c</field>
            <value>
                <elementReference>CA_CelularNaoFiador.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CidadeNaoFiador__c</field>
            <value>
                <elementReference>CA_CidadeNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_ComplementoNaoFiador__c</field>
            <value>
                <elementReference>CA_ComplementoNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EmailNaoFiador__c</field>
            <value>
                <elementReference>CA_EmailNaoFiador.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EmpresaNaoFiador__c</field>
            <value>
                <elementReference>CA_EmpresaNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EnderecoNaoFiador__c</field>
            <value>
                <elementReference>CA_EnderecoNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EstadoCivilNaoFiador__c</field>
            <value>
                <elementReference>CA_ScreenEstadoCivilNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EstadoNaoFiador__c</field>
            <value>
                <elementReference>CA_ScreenEstadoNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_GarantiaPretendidaNaoFiador__c</field>
            <value>
                <elementReference>CA_ScreenGarantiaPretendidaNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_GeneroNaoFiador__c</field>
            <value>
                <elementReference>CA_ScreenGeneroNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NacionalidadeNaoFiador__c</field>
            <value>
                <elementReference>CA_NacionalidadeNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NaturalidadeNaoFiador__c</field>
            <value>
                <elementReference>CA_NaturalidadeNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NomeNaoFiador__c</field>
            <value>
                <elementReference>CA_NomeNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NomeSocialNaoFiador__c</field>
            <value>
                <elementReference>CA_NomeSocialNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NumeroNaoFiador__c</field>
            <value>
                <elementReference>CA_NumeroNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_ProfissaoNaoFiador__c</field>
            <value>
                <elementReference>CA_ProfissaoNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_RGNaoFiador__c</field>
            <value>
                <elementReference>CA_RGNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_RegimeCasamentoNaoFiador__c</field>
            <value>
                <elementReference>CA_ScreenRegimeCasamentoNaoFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_TelefoneTrabalhoNaoFiador__c</field>
            <value>
                <elementReference>CA_TelefoneTrabalhoNaoFiador.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_UniqueKey__c</field>
            <value>
                <elementReference>recipientUniqueKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CA_GetGroupQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CA_GetRecordTypeTrocaGarantidaNaoFiador.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CA_FormularioCaso__c</object>
    </recordCreates>
    <recordLookups>
        <name>CA_GetFormularioCaso</name>
        <label>Get Formulário do caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_GetGroupQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Conta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CA_Imovel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varImovelId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CA_GetRecordTypeTrocaGarantidaNaoFiador.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CA_FormularioSubmetido__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_FormularioCaso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_GetGroupQueue</name>
        <label>Get Group/Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_GetImovel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA_OperacoesAdmFinanceiro</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_GetImovel</name>
        <label>Get Imóvel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_JaFoiEncontradoFormularioEssesDados</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varImovelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_Imovel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_GetRecordTypeGestaoContrato</name>
        <label>Get Record Type Gestão Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_GetFormularioCaso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gestão Contrato</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_GetRecordTypeTrocaGarantidaNaoFiador</name>
        <label>Get Record Type Troca Garantia (Não Fiador)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_GetRecordTypeGestaoContrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Troca Garantia(NÃO Fiador)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_ObterCasoCriado</name>
        <label>Obter caso criado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_CriarFormulariocaso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_ObterFormulariosImovelSemelhantes</name>
        <label>Obter formulários com imovel Semelhantes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_VerificaUniqueKeyExisteDuplicata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Imovel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CA_LkpImovel.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_FormularioCaso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CA_ScreenExistenteFormulario</name>
        <label>ScreenExistenteFormulario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTXTJaExistente</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Falha por violação da chave única! foram verificados as informações e já existe uma chave com essa conta e esse imóvel vinculados.&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); font-family: &amp;quot;Google Sans&amp;quot;, Arial, sans-serif; color: rgb(31, 31, 31);&quot;&gt;😢&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CA_ScreenJaEncontrado</name>
        <label>ScreenJaEncontrado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenTXTJaexiste</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Já existe um formulário preenchido com essas informações atualmente!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CA_ScreenPreencher</name>
        <label>ScreenPreencher</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CA_ScreenPreencherRepeat</targetReference>
        </connector>
        <fields>
            <name>ScreenPreencha</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif;&quot;&gt;Para Iniciar o processo de Alteração preencha os dados abaixo:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CA_Dadossolicitacao</name>
            <fieldText>Dados da solicitação</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CA_Dadossolicitacao_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_ContaLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CA_Conta__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Conta</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CA_FormularioCaso__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EnderecoCidade</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_GetImovel.CA_Endereco__City__s</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Cidade)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EnderecoEstado</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_GetImovel.CA_Endereco__StateCode__s</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Estado)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CA_Dadossolicitacao_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_LkpImovel</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CA_Imovel__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Imóvel</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CA_FormularioCaso__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varImovelId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EnderecoRua</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_GetImovel.CA_Endereco__Street__s</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Rua)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CA_DadosTrocaGarantiaSemFiador</name>
            <fieldText>Dados da troca de garantia (Sem fiador)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CA_DadosTrocaGarantiaSemFiador_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_NomeNaoFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RGNaoFiador</name>
                    <dataType>String</dataType>
                    <fieldText>RG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Digite um RG válido:&lt;/p&gt;&lt;p&gt;- Somente números (7 a 14 dígitos), ex.: 365759211&lt;/p&gt;&lt;p&gt;- Ou com pontos e hífen, ex.: 36.575.921-1&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
  REGEX({!CA_RGNaoFiador}, &quot;^[0-9]{7,14}$&quot;),
  REGEX({!CA_RGNaoFiador}, &quot;^[0-9]{2}\\.[0-9]{3}\\.[0-9]{3}\\-[0-9]{1,2}$&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>CA_ScreenGarantiaPretendidaNaoFiador</name>
                    <choiceReferences>CA_GarantiaPretendidaNaoFiador</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Garantia pretendida</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ProfissaoNaoFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Profissão</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_NaturalidadeNaoFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Naturalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ScreenGeneroNaoFiador</name>
                    <choiceReferences>CA_GeneroNaoFiador</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gênero</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ScreenRegimeCasamentoNaoFiador</name>
                    <choiceReferences>CA_RegimeCasamentoNaoFiador</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Regime casamento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EmailNaoFiador</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>E-mail</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_NumeroNaoFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Número</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CidadeNaoFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ScreenEstadoNaoFiador</name>
                    <choiceReferences>CA_EstadoNaoFiador</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Estado</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EmpresaNaoFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Empresa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_TelefoneTrabalhoNaoFiador</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefone (Trabalho)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CA_DadosTrocaGarantiaSemFiador_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_NomeSocialNaoFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Nome social</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CPFNaoFiador</name>
                    <dataType>String</dataType>
                    <fieldText>CPF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Digite um CPF válido no formato:&lt;/p&gt;&lt;p&gt;- Somente números (00000000000)&lt;/p&gt;&lt;p&gt;- Ou com pontos e traço (000.000.000-00)&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
  REGEX({!CA_CPFNaoFiador}, &quot;^[0-9]{11}$&quot;),
  REGEX({!CA_CPFNaoFiador}, &quot;^[0-9]{3}\\.[0-9]{3}\\.[0-9]{3}\\-[0-9]{2}$&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>CA_NacionalidadeNaoFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Nacionalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ScreenEstadoCivilNaoFiador</name>
                    <choiceReferences>CA_EstadoCivilNaoFiador</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Estado civil</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CelularNaoFiador</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Celular</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EnderecoNaoFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Endereço (Rua)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ComplementoNaoFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Complemento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_BairroNaoFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CEPNaoFiador</name>
                    <dataType>String</dataType>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CargoNaoFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Cargo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CA_ScreenPreencherRepeat</name>
        <label>ScreenPreencher Repeat</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CA_MontagemUniqueKey</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_ScreenPreencha</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Revise seus dados abaixo!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Atenção no preenchimento anterior, verifique abaixo e clique em &quot;avançar&quot; se estiver tudo conforme!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CA_DadosSolicitacao2</name>
            <fieldText>Dados da Solicitação</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CA_DadosSolicitacao2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_CA_ContaLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CA_Conta__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Conta</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CA_FormularioCaso__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>CA_ContaLookup.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EnderecoCidade2</name>
                    <dataType>String</dataType>
                    <fieldText>Endereço (Cidade)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EnderecoeEstado</name>
                    <dataType>String</dataType>
                    <fieldText>Endereço (Estado)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CA_DadosSolicitacao2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_CA_LkpImovel</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CA_Imovel__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Imóvel</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CA_FormularioCaso__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>CA_LkpImovel.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EnderecoRua</name>
                    <dataType>String</dataType>
                    <fieldText>Endereço (Rua)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_CA_DadosTrocaGarantiaSemFiador</name>
            <fieldText>Dados da troca de garantia (Sem fiador)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_CA_DadosTrocaGarantiaSemFiador_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_CA_NomeNaoFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NomeNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_RGNaoFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_RGNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>RG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ScreenGarantiaPretendidaNaoFiador</name>
                    <choiceReferences>CA_GarantiaPretendidaNaoFiador</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ScreenGarantiaPretendidaNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Garantia pretendida</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ProfissaoNaoFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ProfissaoNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Profissão</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_NaturalidadeNaoFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NaturalidadeNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Naturalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ScreenGeneroNaoFiador</name>
                    <choiceReferences>CA_GeneroNaoFiador</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ScreenGeneroNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Gênero</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ScreenRegimeCasamentoNaoFiador</name>
                    <choiceReferences>CA_RegimeCasamentoNaoFiador</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ScreenRegimeCasamentoNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Regime casamento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_EmailNaoFiador</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>E-mail</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>CA_EmailNaoFiador.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_NumeroNaoFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NumeroNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Número</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CidadeNaoFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_CidadeNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ScreenEstadoNaoFiador</name>
                    <choiceReferences>CA_EstadoNaoFiador</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ScreenEstadoNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Estado</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_EmpresaNaoFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_EmpresaNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Empresa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_TelefoneTrabalhoNaoFiador</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefone (Trabalho)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>CA_TelefoneTrabalhoNaoFiador.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_CA_DadosTrocaGarantiaSemFiador_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_CA_NomeSocialNaoFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NomeSocialNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Nome social</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CPFNaoFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_CPFNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>CPF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_NacionalidadeNaoFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NacionalidadeNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Nacionalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ScreenEstadoCivilNaoFiador</name>
                    <choiceReferences>CA_EstadoCivilNaoFiador</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ScreenEstadoCivilNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Estado civil</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CelularNaoFiador</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Celular</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>CA_CelularNaoFiador.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_EnderecoNaoFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_EnderecoNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Rua)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ComplementoNaoFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ComplementoNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Complemento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_BairroNaoFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_BairroNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CEPNaoFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_CEPNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CargoNaoFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_CargoNaoFiador</elementReference>
                    </defaultValue>
                    <fieldText>Cargo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenConcluido</name>
        <label>ScreenConcluido</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenConcluidoTXT</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;O caso e o formulário do caso foram criados com sucesso! verifique a sua lista relacionada.&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); font-family: &amp;quot;Google Sans&amp;quot;, Arial, sans-serif; color: rgb(31, 31, 31);&quot;&gt;🤗&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CA_GetRecordTypeTrocaGarantidaNaoFiador</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientUniqueKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFormularioCasoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varImovelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
