force-app/main/default/flows/CA_TrocaGarantiaFiador.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>CA_MontagemUniqueKey</name>
        <label>Montagem unique key</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recipientUniqueKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varUniqueKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CA_ObterFormulariosImovelSemelhantes</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>CA_VerificaExistencia</name>
        <label>Verifica Existência do formulário</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CA_ScreenPreencher</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não existe</defaultConnectorLabel>
        <rules>
            <name>CA_JaExisteFormulario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CA_GetFormularioCaso</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CA_ScreenJaEncontrado</targetReference>
            </connector>
            <label>Já existe formulário</label>
        </rules>
    </decisions>
    <decisions>
        <name>CA_VerificaUniqueKeyExisteDuplicata</name>
        <label>Verifica Unique Key se existe duplicata</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>CA_ScreenExistenteFormulario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existe</defaultConnectorLabel>
        <rules>
            <name>CA_NaoExiste</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CA_ObterFormulariosImovelSemelhantes.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CA_CriarCaso</targetReference>
            </connector>
            <label>Não existe registro semelhante</label>
        </rules>
    </decisions>
    <description>https://codeartsolutions.atlassian.net/browse/AP-110</description>
    <dynamicChoiceSets>
        <name>CA_EstadoCivilDadosConjuge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoCivilDadosConjuge__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_EstadoCivilDadosFiador</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoCivilDadosFiador__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_EstadoCivilDadosInquilino</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoCivilDadosInquilino__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_EstadoDadosConjuge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoDadosConjuge__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_EstadoDadosFiador</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoDadosFiador__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_EstadoDadosInquilino</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoDadosInquilino__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_GeneroDadosConjuge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_GeneroDadosConjuge__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_GeneroDadosFiador</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_GeneroDadosFiador__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_GeneroDadosInquilino</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_GeneroDadosInquilino__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_RegimeCasamentoDadosConjuge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_RegimeCasamentoDadosConjuge__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_RegimeCasamentoDadosFiador</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_RegimeCasamentoDadosFiador__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_RegimeCasamentoDadosInquilino</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_RegimeCasamentoDadosInquilino__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_RepeatEstadoCivilDadosConjuge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoCivilDadosConjuge__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_RepeatEstadoDadosConjuge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_EstadoDadosConjuge__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_RepeatRegimeCasamentoDadosConjuge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_RegimeCasamentoDadosConjuge__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CA_vGeneroDadosConjuge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CA_GeneroDadosConjuge__c</picklistField>
        <picklistObject>CA_FormularioCaso__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>varUniqueKey</name>
        <dataType>String</dataType>
        <expression>{!varAccountId} &amp; &quot;_&quot; &amp; {!varImovelId} &amp; &quot;_&quot; &amp; &apos;_TrocaGarantiaFiador&apos;</expression>
    </formulas>
    <interviewLabel>[Case - Imóvel e Conta] Formulário do caso - Alteração Proprietário {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Case - Imóvel e Conta] Formulário do caso - Troca Garantia (Fiador)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CA_CriarCaso</name>
        <label>Criar caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>NewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>CA_ObterCasoCriado</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CA_GetGroupQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>CA_GetRecordTypeGestaoContrato.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Troca garantia (Fiador) - {!varAccountId}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Alteração cadastral e contratual</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CA_CriarFormulariocaso</name>
        <label>Criar Formulário do caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>varFormularioCaso</assignRecordIdToReference>
        <connector>
            <targetReference>ScreenConcluido</targetReference>
        </connector>
        <inputAssignments>
            <field>CA_BairroDadosConjuge__c</field>
            <value>
                <elementReference>CA_BairroDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_BairroDadosFiador__c</field>
            <value>
                <elementReference>CA_BairroDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_BairroDadosInquilino__c</field>
            <value>
                <elementReference>CA_BairroDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CEPDadosConjuge__c</field>
            <value>
                <elementReference>CA_CEPDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CEPDadosFiador__c</field>
            <value>
                <elementReference>CA_CEPDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CEPDadosInquilino__c</field>
            <value>
                <elementReference>CA_CEPDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CPFDadosConjuge__c</field>
            <value>
                <elementReference>CA_CPFDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CPFDadosFiador__c</field>
            <value>
                <elementReference>CA_CPFDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CPFDadosInquilino__c</field>
            <value>
                <elementReference>CA_CPFDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CargoDadosConjuge__c</field>
            <value>
                <elementReference>CA_CargoDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CargoDadosFiador__c</field>
            <value>
                <elementReference>CA_CargoDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CargoDadosInquilino__c</field>
            <value>
                <elementReference>CA_CargoDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Caso__c</field>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CelularDadosConjuge__c</field>
            <value>
                <elementReference>CA_CelularDadosConjuge.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CelularDadosFiador__c</field>
            <value>
                <elementReference>CA_CelularDadosFiador.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CelularDadosInquilino__c</field>
            <value>
                <elementReference>CA_CelularDadosInquilino.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CidadeDadosConjuge__c</field>
            <value>
                <elementReference>CA_CidadeDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CidadeDadosFiador__c</field>
            <value>
                <elementReference>CA_CidadeDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_CidadeDadosInquilino__c</field>
            <value>
                <elementReference>CA_CidadeDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_ComplementoDadosConjuge__c</field>
            <value>
                <elementReference>CA_ComplementoDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_ComplementoDadosFiador__c</field>
            <value>
                <elementReference>CA_ComplementoDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_ComplementoDadosInquilino__c</field>
            <value>
                <elementReference>CA_ComplementoDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EmailDadosConjuge__c</field>
            <value>
                <elementReference>CA_EmailDadosConjuge.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EmailDadosFiador__c</field>
            <value>
                <elementReference>CA_EmailDadosFiador.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EmailDadosInquilino__c</field>
            <value>
                <elementReference>CA_EmailDadosInquilino.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EmpresaDadosConjuge__c</field>
            <value>
                <elementReference>CA_EmpresaDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EmpresaDadosFiador__c</field>
            <value>
                <elementReference>CA_EmpresaDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EmpresaDadosInquilino__c</field>
            <value>
                <elementReference>CA_EmpresaDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EnderecoDadosConjuge__c</field>
            <value>
                <elementReference>CA_EnderecoDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EnderecoDadosFiador__c</field>
            <value>
                <elementReference>CA_EnderecoDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EnderecoDadosInquilino__c</field>
            <value>
                <elementReference>CA_EnderecoDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EstadoCivilDadosConjuge__c</field>
            <value>
                <elementReference>CA_ScreenEstadoCivilDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EstadoCivilDadosFiador__c</field>
            <value>
                <elementReference>CA_ScreenEstadoCivilDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EstadoCivilDadosInquilino__c</field>
            <value>
                <elementReference>CA_ScreenEstadoCivilDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EstadoDadosConjuge__c</field>
            <value>
                <elementReference>CA_ScreenEstadoDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EstadoDadosFiador__c</field>
            <value>
                <elementReference>CA_ScreenEstadoDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_EstadoDadosInquilino__c</field>
            <value>
                <elementReference>CA_ScreenEstadoDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_GeneroDadosConjuge__c</field>
            <value>
                <elementReference>CA_ScreenGeneroDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_GeneroDadosFiador__c</field>
            <value>
                <elementReference>CA_ScreenGeneroDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_GeneroDadosInquilino__c</field>
            <value>
                <elementReference>CA_ScreenGeneroDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_Imovel__c</field>
            <value>
                <elementReference>CA_LkpImovel.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NacionalidadeDadosConjuge__c</field>
            <value>
                <elementReference>CA_NacionalidadeDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NacionalidadeDadosFiador__c</field>
            <value>
                <elementReference>CA_NacionalidadeDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NacionalidadeDadosInquilino__c</field>
            <value>
                <elementReference>CA_NacionalidadeDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NaturalidadeDadosConjuge__c</field>
            <value>
                <elementReference>CA_NaturalidadeDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NaturalidadeDadosFiador__c</field>
            <value>
                <elementReference>CA_NaturalidadeDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NaturalidadeDadosInquilino__c</field>
            <value>
                <elementReference>CA_NaturalidadeDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NomeDadosConjuge__c</field>
            <value>
                <elementReference>CA_NomeDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NomeDadosFiador__c</field>
            <value>
                <elementReference>CA_NomeDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NomeDadosInquilino__c</field>
            <value>
                <elementReference>CA_NomeDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NomeSocialDadosConjuge__c</field>
            <value>
                <elementReference>CA_NomeSocialDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NomeSocialDadosFiador__c</field>
            <value>
                <elementReference>CA_NomeSocialDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NomeSocialDadosInquilino__c</field>
            <value>
                <elementReference>CA_NomeSocialDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NumeroDadosConjuge__c</field>
            <value>
                <elementReference>CA_NumeroDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NumeroDadosFiador__c</field>
            <value>
                <elementReference>CA_NumeroDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_NumeroDadosInquilino__c</field>
            <value>
                <elementReference>CA_NumeroDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_ProfissaoDadosConjuge__c</field>
            <value>
                <elementReference>CA_ProfissaoDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_ProfissaoDadosFiador__c</field>
            <value>
                <elementReference>CA_ProfissaoDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_ProfissaoDadosInquilino__c</field>
            <value>
                <elementReference>CA_ProfissaoDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_RGDadosConjuge__c</field>
            <value>
                <elementReference>CA_RGDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_RGDadosFiador__c</field>
            <value>
                <elementReference>CA_RGDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_RGDadosInquilino__c</field>
            <value>
                <elementReference>CA_RGDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_RegimeCasamentoDadosConjuge__c</field>
            <value>
                <elementReference>CA_ScreenRegimeCasamentoDadosConjuge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_RegimeCasamentoDadosFiador__c</field>
            <value>
                <elementReference>CA_ScreenRegimeCasamentoDadosFiador</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_RegimeCasamentoDadosInquilino__c</field>
            <value>
                <elementReference>CA_ScreenRegimeCasamentoDadosInquilino</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_TelefoneTrabalhoDadosConjuge__c</field>
            <value>
                <elementReference>CA_TelefoneTrabalhoDadosConjuge.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_TelefoneTrabalhoDadosFiador__c</field>
            <value>
                <elementReference>CA_TelefoneTrabalhoDadosFiador.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_TelefoneTrabalhoDadosInquilino__c</field>
            <value>
                <elementReference>CA_TelefoneTrabalhoDadosInquilino.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_UniqueKey__c</field>
            <value>
                <elementReference>recipientUniqueKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CA_GetGroupQueue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordTypeTrocaGarantiaFiador.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CA_FormularioCaso__c</object>
    </recordCreates>
    <recordLookups>
        <name>CA_GetFormularioCaso</name>
        <label>Get Formulário do caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_GetGroupQueue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Conta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CA_Imovel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varImovelId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordTypeTrocaGarantiaFiador.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CA_FormularioSubmetido__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_FormularioCaso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_GetGroupQueue</name>
        <label>Get Group/Queue</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_GetImovel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CA_OperacoesAdmFinanceiro</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_GetImovel</name>
        <label>Get Imóvel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_VerificaExistencia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varImovelId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_Imovel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_GetRecordTypeGestaoContrato</name>
        <label>Get Record Type Gestão Contrato</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_GetFormularioCaso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gestão Contrato</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_ObterCasoCriado</name>
        <label>Obter caso criado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_CriarFormulariocaso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>CA_ObterFormulariosImovelSemelhantes</name>
        <label>Obter formulários com imovel Semelhantes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_VerificaUniqueKeyExisteDuplicata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CA_Imovel__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CA_LkpImovel.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_FormularioCaso__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeTrocaGarantiaFiador</name>
        <label>Get Record Type Troca Garantia Fiador</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CA_GetRecordTypeGestaoContrato</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Troca garantia (Fiador)</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CA_ScreenExistenteFormulario</name>
        <label>ScreenExistenteFormulario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayTXTJaExistente</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Falha por violação da chave única! foram verificados as informações e já existe uma chave com essa conta e esse imóvel vinculados.&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); font-family: &amp;quot;Google Sans&amp;quot;, Arial, sans-serif; color: rgb(31, 31, 31);&quot;&gt;😢&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CA_ScreenJaEncontrado</name>
        <label>ScreenJaEncontrado</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenTXTJaexiste</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Já existe um formulário preenchido com essas informações atualmente!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CA_ScreenPreencher</name>
        <label>ScreenPreencher</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenRepetir</targetReference>
        </connector>
        <fields>
            <name>ScreenPreencha</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif;&quot;&gt;Para Iniciar o processo de Alteração preencha os dados abaixo:&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif;&quot;&gt;&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CA_Dadossolicitacao</name>
            <fieldText>Dados da solicitação</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CA_Dadossolicitacao_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_ContaLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CA_Conta__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CA_FormularioCaso__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Conta</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EnderecoCidade</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_GetImovel.CA_Endereco__City__s</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Cidade)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EnderecoEstado</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_GetImovel.CA_Endereco__StateCode__s</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Estado)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CA_Dadossolicitacao_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_LkpImovel</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CA_Imovel__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Imóvel</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CA_FormularioCaso__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varImovelId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EnderecoRua</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_GetImovel.CA_Endereco__Street__s</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Rua)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CA_DadosInquilino</name>
            <fieldText>Dados inquilino</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CA_DadosInquilino_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_NomeDadosInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CPFDadosInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>CPF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Digite um CPF válido no formato:&lt;/p&gt;&lt;p&gt;- Somente números (00000000000)&lt;/p&gt;&lt;p&gt;- Ou com pontos e traço (000.000.000-00)&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
  REGEX({!CA_CPFDadosInquilino}, &quot;^[0-9]{11}$&quot;),
  REGEX({!CA_CPFDadosInquilino}, &quot;^[0-9]{3}\\.[0-9]{3}\\.[0-9]{3}\\-[0-9]{2}$&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>CA_ProfissaoDadosInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Profissão</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_NacionalidadeDadosInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Nacionalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ScreenEstadoCivilDadosInquilino</name>
                    <choiceReferences>CA_EstadoCivilDadosInquilino</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Estado civil</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CelularDadosInquilino</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Celular</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EnderecoDadosInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Endereço</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ComplementoDadosInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Complemento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CidadeDadosInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ScreenEstadoDadosInquilino</name>
                    <choiceReferences>CA_EstadoDadosInquilino</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Estado</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CargoDadosInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Cargo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_TelefoneTrabalhoDadosInquilino</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefone (Trabalho)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CA_DadosInquilino_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_NomeSocialDadosInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Nome social</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RGDadosInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>RG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Digite um RG válido no formato:&lt;/p&gt;&lt;p&gt;- Somente números (7 a 14 dígitos), ex.: 365759211&lt;/p&gt;&lt;p&gt;- Ou com pontos e traço, ex.: 36.575.921-1&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
  REGEX({!CA_RGDadosInquilino}, &quot;^[0-9]{7,14}$&quot;),
  REGEX({!CA_RGDadosInquilino}, &quot;^[0-9]{2}\\.[0-9]{3}\\.[0-9]{3}\\-[0-9]{1,2}$&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>CA_NaturalidadeDadosInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Naturalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ScreenGeneroDadosInquilino</name>
                    <choiceReferences>CA_GeneroDadosInquilino</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gênero</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ScreenRegimeCasamentoDadosInquilino</name>
                    <choiceReferences>CA_RegimeCasamentoDadosInquilino</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Regime casamento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EmailDadosInquilino</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_NumeroDadosInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Número</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_BairroDadosInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CEPDadosInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EmpresaDadosInquilino</name>
                    <dataType>String</dataType>
                    <fieldText>Empresa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CA_DadosFiador</name>
            <fieldText>Dados fiador</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CA_DadosFiador_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_NomeDadosFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CPFDadosFiador</name>
                    <dataType>String</dataType>
                    <fieldText>CPF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Digite um CPF válido no formato:&lt;/p&gt;&lt;p&gt;- Somente números (00000000000)&lt;/p&gt;&lt;p&gt;- Ou com pontos e traço (000.000.000-00)&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
  REGEX({!CA_CPFDadosFiador}, &quot;^[0-9]{11}$&quot;),
  REGEX({!CA_CPFDadosFiador}, &quot;^[0-9]{3}\\.[0-9]{3}\\.[0-9]{3}\\-[0-9]{2}$&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>CA_ProfissaoDadosFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Profissão</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_NacionalidadeDadosFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Nacionalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ScreenEstadoCivilDadosFiador</name>
                    <choiceReferences>CA_EstadoCivilDadosFiador</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Estado civil</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CelularDadosFiador</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Celular</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EnderecoDadosFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Endereço</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ComplementoDadosFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Complemento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CidadeDadosFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ScreenEstadoDadosFiador</name>
                    <choiceReferences>CA_EstadoDadosFiador</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Estado</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CargoDadosFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Cargo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CA_DadosFiador_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_NomeSocialDadosFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Nome social</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RGDadosFiador</name>
                    <dataType>String</dataType>
                    <fieldText>RG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Digite um RG válido no formato:&lt;/p&gt;&lt;p&gt;- Somente números (7 a 14 dígitos), ex.: 365759211&lt;/p&gt;&lt;p&gt;- Ou com pontos e traço, ex.: 36.575.921-1&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
  REGEX({!CA_RGDadosFiador}, &quot;^[0-9]{7,14}$&quot;),
  REGEX({!CA_RGDadosFiador}, &quot;^[0-9]{2}\\.[0-9]{3}\\.[0-9]{3}\\-[0-9]{1,2}$&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>CA_NaturalidadeDadosFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Naturalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ScreenGeneroDadosFiador</name>
                    <choiceReferences>CA_GeneroDadosFiador</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gênero</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ScreenRegimeCasamentoDadosFiador</name>
                    <choiceReferences>CA_RegimeCasamentoDadosFiador</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Regime casamento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EmailDadosFiador</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_NumeroDadosFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Número</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_BairroDadosFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CEPDadosFiador</name>
                    <dataType>String</dataType>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EmpresaDadosFiador</name>
                    <dataType>String</dataType>
                    <fieldText>Empresa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_TelefoneTrabalhoDadosFiador</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefone (Trabalho)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CA_DadosConjuge</name>
            <fieldText>Dados Cônjuge</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CA_DadosConjuge_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_NomeDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CPFDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>CPF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Digite um CPF válido no formato:&lt;/p&gt;&lt;p&gt;- Somente números (00000000000)&lt;/p&gt;&lt;p&gt;- Ou com pontos e traço (000.000.000-00)&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
  REGEX({!CA_CPFDadosConjuge}, &quot;^[0-9]{11}$&quot;),
  REGEX({!CA_CPFDadosConjuge}, &quot;^[0-9]{3}\\.[0-9]{3}\\.[0-9]{3}\\-[0-9]{2}$&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>CA_ProfissaoDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Profissão</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_NacionalidadeDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Nacionalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ScreenEstadoCivilDadosConjuge</name>
                    <choiceReferences>CA_EstadoCivilDadosConjuge</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Estado civil</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CelularDadosConjuge</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Celular</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EnderecoDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Endereço</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ComplementoDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Complemento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CidadeDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ScreenEstadoDadosConjuge</name>
                    <choiceReferences>CA_EstadoDadosConjuge</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Estado</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CargoDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Cargo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CA_DadosConjuge_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_NomeSocialDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Nome social</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RGDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>RG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Digite um RG válido no formato:&lt;/p&gt;&lt;p&gt;- Somente números (7 a 14 dígitos), ex.: 365759211&lt;/p&gt;&lt;p&gt;- Ou com pontos e traço, ex.: 36.575.921-1&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
  REGEX({!CA_RGDadosConjuge}, &quot;^[0-9]{7,14}$&quot;),
  REGEX({!CA_RGDadosConjuge}, &quot;^[0-9]{2}\\.[0-9]{3}\\.[0-9]{3}\\-[0-9]{1,2}$&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>CA_NaturalidadeDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Naturalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ScreenGeneroDadosConjuge</name>
                    <choiceReferences>CA_vGeneroDadosConjuge</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gênero</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_ScreenRegimeCasamentoDadosConjuge</name>
                    <choiceReferences>CA_RegimeCasamentoDadosConjuge</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Regime casamento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EmailDadosConjuge</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>E-mail</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_NumeroDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Número</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_BairroDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_CEPDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EmpresaDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Empresa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_TelefoneTrabalhoDadosConjuge</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefone (Trabalho)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenConcluido</name>
        <label>ScreenConcluido</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ScreenConcluidoTXT</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;O caso e o formulário do caso foram criados com sucesso! verifique a sua lista relacionada.&lt;/strong&gt;&lt;span style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); font-family: &amp;quot;Google Sans&amp;quot;, Arial, sans-serif; color: rgb(31, 31, 31);&quot;&gt;🤗&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenRepetir</name>
        <label>ScreenRepetir</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CA_MontagemUniqueKey</targetReference>
        </connector>
        <fields>
            <name>ScreenPreenchaRepeat</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Revise seus dados abaixo!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Atenção no preenchimento anterior, verifique abaixo e clique em &quot;avançar&quot; se estiver tudo conforme!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CA_DadosSolicitacao2</name>
            <fieldText>Dados da Solicitação</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CA_DadosSolicitacao2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Conta</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CA_Conta__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Conta</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CA_FormularioCaso__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>CA_ContaLookup.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_EnderecoCidade2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_EnderecoCidade</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Cidade)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EnderecoeEstado</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_EnderecoEstado</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Estado)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CA_DadosSolicitacao2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_RepeatLkpImovel</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CA_Imovel__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Imóvel</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CA_FormularioCaso__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>CA_LkpImovel.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EnderecoRua</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_EnderecoRua</elementReference>
                    </defaultValue>
                    <fieldText>Endereço (Rua)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_CA_DadosInquilino</name>
            <fieldText>Dados inquilino</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_CA_DadosInquilino_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_CA_NomeDadosInquilino</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NomeDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CPFDadosInquilino</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_CPFDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>CPF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ProfissaoDadosInquilino</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ProfissaoDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Profissão</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_NacionalidadeDadosInquilino</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NacionalidadeDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Nacionalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ScreenEstadoCivilDadosInquilino</name>
                    <choiceReferences>CA_EstadoCivilDadosInquilino</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ScreenEstadoCivilDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Estado civil</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CelularDadosInquilino</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Celular</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>CA_CelularDadosInquilino.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_EnderecoDadosInquilino</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_EnderecoDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Endereço</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ComplementoDadosInquilino</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ComplementoDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Complemento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CidadeDadosInquilino</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_CidadeDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ScreenEstadoDadosInquilino</name>
                    <choiceReferences>CA_EstadoDadosInquilino</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ScreenEstadoDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Estado</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CargoDadosInquilino</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_CargoDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Cargo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_CA_DadosInquilino_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_CA_NomeSocialDadosInquilino</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NomeSocialDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Nome social</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_LkpImovel</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CA_Imovel__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Imóvel</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>CA_FormularioCaso__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>CA_LkpImovel.recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_RGDadosInquilino</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_RGDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>RG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_NaturalidadeDadosInquilino</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NaturalidadeDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Naturalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ScreenGeneroDadosInquilino</name>
                    <choiceReferences>CA_GeneroDadosInquilino</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ScreenGeneroDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Gênero</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ScreenRegimeCasamentoDadosInquilino</name>
                    <choiceReferences>CA_RegimeCasamentoDadosInquilino</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ScreenRegimeCasamentoDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Regime casamento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_EmailDadosInquilino</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>CA_EmailDadosInquilino.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_NumeroDadosInquilino</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NumeroDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Número</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_BairroDadosInquilino</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_BairroDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CEPDadosInquilino</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_CEPDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_EmpresaDadosInquilino</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_EmpresaDadosInquilino</elementReference>
                    </defaultValue>
                    <fieldText>Empresa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_TelefoneTrabalhoDadosInquilino</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefone (Trabalho)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>CA_TelefoneTrabalhoDadosInquilino.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_CA_DadosFiador</name>
            <fieldText>Dados fiador</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_CA_DadosFiador_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_CA_NomeDadosFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NomeDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CPFDadosFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_CPFDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>CPF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ProfissaoDadosFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ProfissaoDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>Profissão</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_NacionalidadeDadosFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NacionalidadeDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>Nacionalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ScreenEstadoCivilDadosFiador</name>
                    <choiceReferences>CA_EstadoCivilDadosFiador</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ScreenEstadoCivilDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>Estado civil</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CelularDadosFiador</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Celular</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>CA_CelularDadosFiador.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_EnderecoDadosFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_EnderecoDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>Endereço</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ComplementoDadosFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ComplementoDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>Complemento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CidadeDadosFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_CidadeDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ScreenEstadoDadosFiador</name>
                    <choiceReferences>CA_EstadoDadosFiador</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ScreenEstadoDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>Estado</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CargoDadosFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_CargoDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>Cargo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_CA_DadosFiador_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_CA_NomeSocialDadosFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NomeSocialDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>Nome social</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_RGDadosFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_RGDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>RG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_NaturalidadeDadosFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NaturalidadeDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>Naturalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ScreenGeneroDadosFiador</name>
                    <choiceReferences>CA_GeneroDadosFiador</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ScreenGeneroDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>Gênero</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_ScreenRegimeCasamentoDadosFiador</name>
                    <choiceReferences>CA_RegimeCasamentoDadosFiador</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_ScreenRegimeCasamentoDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>Regime casamento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_EmailDadosFiador</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>CA_EmailDadosFiador.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_NumeroDadosFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_NumeroDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>Número</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_BairroDadosFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_BairroDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_CEPDadosFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_CEPDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_EmpresaDadosFiador</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CA_EmpresaDadosFiador</elementReference>
                    </defaultValue>
                    <fieldText>Empresa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_CA_TelefoneTrabalhoDadosFiador</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefone (Trabalho)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>CA_TelefoneTrabalhoDadosFiador.value</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Dados_Conjug</name>
            <fieldText>Dados Conjuge</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dados_Conjug_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_RepeatNomeDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Nome</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatCPFDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>CPF</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatProfissaoDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Profissão</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatNacionalidadeDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Nacionalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RRepeatEstadoCivilDadosConjuge</name>
                    <choiceReferences>CA_RepeatEstadoCivilDadosConjuge</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Estado civil</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatCelularDadosConjuge</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Celular</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatEnderecoDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Endereço</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatComplementoDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Complemento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatCidadeDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Cidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RRepeatEstadoDadosConjuge</name>
                    <choiceReferences>CA_RepeatEstadoDadosConjuge</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Estado</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatCargoDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Cargo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dados_Conjug_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CA_RepeatNomeSocialDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Nome social</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatRGDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>RG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatNaturalidadeDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Naturalidade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatScreenGeneroDadosConjuge</name>
                    <choiceReferences>CA_GeneroDadosConjuge</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Genero</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RRepeatRegimeCasamentoDadosConjuge</name>
                    <choiceReferences>CA_RepeatRegimeCasamentoDadosConjuge</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Regime casamento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatEmailDadosConjuge</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>E-mail</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatNumeroDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Número</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatBairroDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Bairro</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatCEPDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>CEP</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatEmpresaDadosConjuge</name>
                    <dataType>String</dataType>
                    <fieldText>Empresa</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CA_RepeatTelefoneTrabalhoDadosConjuge</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Telefone (Trabalho)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordTypeTrocaGarantiaFiador</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recipientUniqueKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFormularioCaso</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varImovelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
