force-app/main/default/flows/Case_Send_WhatsApp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_Send_WhatsApp</name>
        <label>Send WhatsApp Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Assign_Task_Fields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_ErrorMessage</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Mensagem_de_reativacao_do_usuario</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;accountName&quot;,
    &quot;textValue&quot;: &quot;{!var_SelectedAccountName}&quot;
  },
  {
    &quot;name&quot;: &quot;caseImovel&quot;,
    &quot;textValue&quot;: &quot;{!form_FormattedAddress}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>coll_MessagingUserIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionLongevityPreference</name>
            <value>
                <stringValue>KeepSessionOpenOrAppend</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Existing_ID_With_9</name>
        <label>Assign Existing ID With 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_FinalMessagingUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_User_With_9.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_User_With_9.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SelectedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messaging_User_With_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Id_With_Cleaned_Phone</name>
        <label>Assign Existing Id With Cleaned Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_FinalMessagingUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_User_With_Cleaned_Phone.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_User_With_Cleaned_Phone.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SelectedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messaging_User_With_Cleaned_Phone</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_ID_Without_9</name>
        <label>Assign Existing ID Without 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_FinalMessagingUserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_User_Without_9.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Messaging_User_Without_9.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_SelectedAccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Messaging_User_Without_9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Fields</name>
        <label>Assign Task Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>taskSubject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WhatsApp: Mensagem de ativação de cliente enviada</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>#Mensagem enviada#\nOi, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_SelectedAccountName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>! 👋\n\nAqui é da equipe de *Aluguéis da Auxiliadora Predial*.\n\nEstou cuidando de um atendimento sobre o seu imóvel </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>form_FormattedAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>taskDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> e preciso alinhar um detalhe importante com você. 🏠\n\n*Você pode falar por aqui?*\n\n(Botão clicável com texto &quot;Sim)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Completed_Whatsapp_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Collection</name>
        <label>Add to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>coll_MessagingUserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_FinalMessagingUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Action_Send_WhatsApp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_With_9</name>
        <label>Assign With 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newMessagingUserPlatformKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_FormattedWhatsapp_WithNine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_MessagingUser</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Without_9</name>
        <label>Assign Without 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>newMessagingUserPlatformKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>form_FormattedWhatsapp_WithoutNine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_MessagingUser</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Consent_Status_With_9</name>
        <label>Check Consent Status With 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_ClientOptedOut</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opted Out w/9</defaultConnectorLabel>
        <rules>
            <name>Any_Opted_In_Option_w9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_User_With_9.MessagingConsentStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OptedOut</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_ID_With_9</targetReference>
            </connector>
            <label>Any &quot;Opted In&quot; Option w/9</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Consent_Status_With_Cleaned_Phone</name>
        <label>Check Consent Status With Cleaned Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_ClientOptedOut</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opted Out w/cleanedPhone</defaultConnectorLabel>
        <rules>
            <name>Any_Opted_In_Option_wCleanedPhone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_User_With_Cleaned_Phone.MessagingConsentStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OptedOut</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_Id_With_Cleaned_Phone</targetReference>
            </connector>
            <label>Any &quot;Opted In&quot; Option w/cleanedPhone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Consent_Status_Without_9</name>
        <label>Check Consent Status Without 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_ClientOptedOut</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opted Out wo/9</defaultConnectorLabel>
        <rules>
            <name>Any_Opted_In_Option_wo9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_User_Without_9.MessagingConsentStatus</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>OptedOut</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Existing_ID_Without_9</targetReference>
            </connector>
            <label>Any &quot;Opted In&quot; Option wo/9</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Existence_With_9</name>
        <label>Check User Existence With 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_With_or_Without_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non-existent User</defaultConnectorLabel>
        <rules>
            <name>User_Found_With_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_User_With_9.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Consent_Status_With_9</targetReference>
            </connector>
            <label>User Found With 9</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Existence_With_Cleaned_Phone</name>
        <label>Check User Existence With Cleaned Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Screen_Confirm_New_Messaging_User_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Not Found With Cleaned Phone</defaultConnectorLabel>
        <rules>
            <name>User_Found_With_Cleaned_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_User_With_Cleaned_Phone.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Consent_Status_With_Cleaned_Phone</targetReference>
            </connector>
            <label>User Found With Cleaned Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Existence_Without_9</name>
        <label>Check User Existence Without 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Messaging_User_With_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Not Found Without 9</defaultConnectorLabel>
        <rules>
            <name>User_Found_Without_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Messaging_User_Without_9.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Consent_Status_Without_9</targetReference>
            </connector>
            <label>User Found Without 9</label>
        </rules>
    </decisions>
    <decisions>
        <name>Dec_Validate_Mobile_BR_Phone_Format</name>
        <label>Validate Mobile BR Phone Format</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Messaging_User_With_Cleaned_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid Mobile BR Phone</defaultConnectorLabel>
        <rules>
            <name>Is_Valid_Mobile_BR_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>form_FormattedWhatsapp_WithNine</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NAO_FORMATAVEL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Messaging_User_Without_9</targetReference>
            </connector>
            <label>Valid Mobile BR Phone</label>
        </rules>
    </decisions>
    <decisions>
        <description>regra atual (14/01/2026):
DDD 11 até 28: com 9
outro DDD: sem 9</description>
        <name>Is_With_or_Without_9</name>
        <label>Is With or Without 9?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Without_9</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Without 9</defaultConnectorLabel>
        <rules>
            <name>With_9</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>form_FormattedWhatsapp_WithoutNine</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5511</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_FormattedWhatsapp_WithoutNine</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5512</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_FormattedWhatsapp_WithoutNine</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5513</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_FormattedWhatsapp_WithoutNine</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5514</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_FormattedWhatsapp_WithoutNine</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5515</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_FormattedWhatsapp_WithoutNine</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5516</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_FormattedWhatsapp_WithoutNine</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5517</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_FormattedWhatsapp_WithoutNine</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5518</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_FormattedWhatsapp_WithoutNine</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5519</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_FormattedWhatsapp_WithoutNine</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5521</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_FormattedWhatsapp_WithoutNine</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5522</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_FormattedWhatsapp_WithoutNine</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5524</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_FormattedWhatsapp_WithoutNine</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5527</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>form_FormattedWhatsapp_WithoutNine</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>5528</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_With_9</targetReference>
            </connector>
            <label>With 9</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>RCS_TargetAccounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 OR 2 OR 3) AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Imovel.CA_ProprietarioImovel__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Imovel.CA_InquilinoAtual__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>CA_Telefone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CA_Whatsapp__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CA_Telefonecomercial__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>var_SelectedAccountPhone</assignToReference>
            <field>CA_Telefone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SelectedTelefoneComercial</assignToReference>
            <field>CA_Telefonecomercial__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SelectedAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_SelectedAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>CA_Whatsapp__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>form_CleanedPhoneNumber</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
    SUBSTITUTE(
        SUBSTITUTE(
            SUBSTITUTE(
                SUBSTITUTE(
                    SUBSTITUTE(
                        SUBSTITUTE(
                            BLANKVALUE({!Input_AccountSelection.selectedChoiceValues}, BLANKVALUE({!var_SelectedAccountPhone}, {!var_SelectedTelefoneComercial})), 
                        &quot; &quot;, &quot;&quot;), 
                    &quot;-&quot;, &quot;&quot;), 
                &quot;(&quot;, &quot;&quot;), 
            &quot;)&quot;, &quot;&quot;), 
        &quot;.&quot;, &quot;&quot;), 
    &quot;+&quot;, &quot;&quot;),
&quot;/&quot;, &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>form_FormattedAddress</name>
        <dataType>String</dataType>
        <expression>{!Get_Imovel.CA_Endereco__Street__s} &amp; &quot;, &quot; &amp; 
{!Get_Imovel.CA_NumeroEndereco__c} &amp; &quot; - &quot; &amp; 
{!Get_Imovel.CA_Endereco__City__s} &amp; &quot;/&quot; &amp; 
TEXT({!Get_Imovel.CA_Endereco__StateCode__s})</expression>
    </formulas>
    <formulas>
        <name>form_FormattedPlatformKey</name>
        <dataType>String</dataType>
        <expression>IF(
    LEN(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(BLANKVALUE({!Input_AccountSelection.selectedChoiceValues}, {!var_SelectedAccountPhone}), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot;.&quot;, &quot;&quot;)) = 13 &amp;&amp;
    LEFT(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(BLANKVALUE({!Input_AccountSelection.selectedChoiceValues}, {!var_SelectedAccountPhone}), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot;.&quot;, &quot;&quot;), 2) = &quot;55&quot;,
    
    SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(BLANKVALUE({!Input_AccountSelection.selectedChoiceValues}, {!var_SelectedAccountPhone}), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot;.&quot;, &quot;&quot;),

IF(
    LEN(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(BLANKVALUE({!Input_AccountSelection.selectedChoiceValues}, {!var_SelectedAccountPhone}), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot;.&quot;, &quot;&quot;)) = 12 &amp;&amp;
    LEFT(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(BLANKVALUE({!Input_AccountSelection.selectedChoiceValues}, {!var_SelectedAccountPhone}), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot;.&quot;, &quot;&quot;), 2) = &quot;55&quot;,

    SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(BLANKVALUE({!Input_AccountSelection.selectedChoiceValues}, {!var_SelectedAccountPhone}), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot;.&quot;, &quot;&quot;),

IF(
    LEN(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(BLANKVALUE({!Input_AccountSelection.selectedChoiceValues}, {!var_SelectedAccountPhone}), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot;.&quot;, &quot;&quot;)) = 11,

    &quot;55&quot; &amp; SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(BLANKVALUE({!Input_AccountSelection.selectedChoiceValues}, {!var_SelectedAccountPhone}), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot;.&quot;, &quot;&quot;),

IF(
    LEN(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(BLANKVALUE({!Input_AccountSelection.selectedChoiceValues}, {!var_SelectedAccountPhone}), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot;.&quot;, &quot;&quot;)) = 10,

    &quot;55&quot; &amp; SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(BLANKVALUE({!Input_AccountSelection.selectedChoiceValues}, {!var_SelectedAccountPhone}), &quot; &quot;, &quot;&quot;), &quot;-&quot;, &quot;&quot;), &quot;(&quot;, &quot;&quot;), &quot;)&quot;, &quot;&quot;), &quot;.&quot;, &quot;&quot;),

    &quot;NAO_FORMATAVEL&quot;
))))</expression>
    </formulas>
    <formulas>
        <name>form_FormattedWhatsapp_WithNine</name>
        <dataType>String</dataType>
        <expression>IF(
    /* TRAVA 1: Se começar com +, tem que ser +55 */
    AND(
        LEFT(BLANKVALUE({!Input_AccountSelection.selectedChoiceValues}, BLANKVALUE({!var_SelectedAccountPhone}, {!var_SelectedTelefoneComercial})), 1) = &quot;+&quot;,
        LEFT(BLANKVALUE({!Input_AccountSelection.selectedChoiceValues}, BLANKVALUE({!var_SelectedAccountPhone}, {!var_SelectedTelefoneComercial})), 3) &lt;&gt; &quot;+55&quot;
    ),
    &quot;NAO_FORMATAVEL&quot;,
    IF(
        /* TRAVA 2: Validação Rígida de Estrutura */
        OR(
            /* 10 Dígitos (ex: 11 8888-8888): Permite 6,7,8,9 (legado/incompleto) */
            AND(LEN({!form_CleanedPhoneNumber}) = 10, CONTAINS(&quot;6789&quot;, MID({!form_CleanedPhoneNumber}, 3, 1))),
            
            /* 11 Dígitos (ex: 11 98888-8888): OBRIGA ser 9 na 3ª casa (bloqueia Espanha sem +) */
            AND(LEN({!form_CleanedPhoneNumber}) = 11, MID({!form_CleanedPhoneNumber}, 3, 1) = &quot;9&quot;),
            
            /* 12 Dígitos (ex: 55 11 8888-8888): Permite 6,7,8,9 */
            AND(LEN({!form_CleanedPhoneNumber}) = 12, CONTAINS(&quot;6789&quot;, MID({!form_CleanedPhoneNumber}, 5, 1))),
            
            /* 13 Dígitos (ex: 55 11 98888-8888): OBRIGA ser 9 na 5ª casa */
            AND(LEN({!form_CleanedPhoneNumber}) = 13, MID({!form_CleanedPhoneNumber}, 5, 1) = &quot;9&quot;)
        ),
        CASE(LEN({!form_CleanedPhoneNumber}),
            10, &quot;55&quot; &amp; LEFT({!form_CleanedPhoneNumber}, 2) &amp; &quot;9&quot; &amp; RIGHT({!form_CleanedPhoneNumber}, 8),
            11, &quot;55&quot; &amp; {!form_CleanedPhoneNumber},
            12, &quot;55&quot; &amp; MID({!form_CleanedPhoneNumber}, 3, 2) &amp; &quot;9&quot; &amp; RIGHT({!form_CleanedPhoneNumber}, 8),
            13, {!form_CleanedPhoneNumber},
            &quot;NAO_FORMATAVEL&quot;
        ),
        &quot;NAO_FORMATAVEL&quot;
    )
)</expression>
    </formulas>
    <formulas>
        <name>form_FormattedWhatsapp_WithoutNine</name>
        <dataType>String</dataType>
        <expression>IF(
    /* TRAVA 1: Se começar com +, tem que ser +55 */
    AND(
        LEFT(BLANKVALUE({!Input_AccountSelection.selectedChoiceValues}, BLANKVALUE({!var_SelectedAccountPhone}, {!var_SelectedTelefoneComercial})), 1) = &quot;+&quot;,
        LEFT(BLANKVALUE({!Input_AccountSelection.selectedChoiceValues}, BLANKVALUE({!var_SelectedAccountPhone}, {!var_SelectedTelefoneComercial})), 3) &lt;&gt; &quot;+55&quot;
    ),
    &quot;NAO_FORMATAVEL&quot;,
    IF(
        /* TRAVA 2: Validação Rígida de Estrutura */
        OR(
            AND(LEN({!form_CleanedPhoneNumber}) = 10, CONTAINS(&quot;6789&quot;, MID({!form_CleanedPhoneNumber}, 3, 1))),
            AND(LEN({!form_CleanedPhoneNumber}) = 11, MID({!form_CleanedPhoneNumber}, 3, 1) = &quot;9&quot;),
            AND(LEN({!form_CleanedPhoneNumber}) = 12, CONTAINS(&quot;6789&quot;, MID({!form_CleanedPhoneNumber}, 5, 1))),
            AND(LEN({!form_CleanedPhoneNumber}) = 13, MID({!form_CleanedPhoneNumber}, 5, 1) = &quot;9&quot;)
        ),
        CASE(LEN({!form_CleanedPhoneNumber}),
            10, &quot;55&quot; &amp; {!form_CleanedPhoneNumber},
            11, &quot;55&quot; &amp; LEFT({!form_CleanedPhoneNumber}, 2) &amp; RIGHT({!form_CleanedPhoneNumber}, 8),
            12, {!form_CleanedPhoneNumber},
            13, &quot;55&quot; &amp; MID({!form_CleanedPhoneNumber}, 3, 2) &amp; RIGHT({!form_CleanedPhoneNumber}, 8),
            &quot;NAO_FORMATAVEL&quot;
        ),
        &quot;NAO_FORMATAVEL&quot;
    )
)</expression>
    </formulas>
    <interviewLabel>[Case] Enviar WhatsApp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Case] Send WhatsApp</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Completed_Whatsapp_Task</name>
        <label>Create Completed Whatsapp Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_WhatsApp_Session_Update_e</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>taskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_MessagingUser</name>
        <label>Create New Messaging User</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>var_FinalMessagingUserId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_To_Collection</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_ErrorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_SelectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsoCountryCode</field>
            <value>
                <stringValue>BR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageType</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingChannelId</field>
            <value>
                <elementReference>Get_Whatsapp_Channel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingConsentStatus</field>
            <value>
                <stringValue>ImplicitlyOptedIn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingPlatformKey</field>
            <value>
                <elementReference>newMessagingUserPlatformKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_SelectedAccountName</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_MessagingUser_With_Cleaned_Phone</name>
        <label>Create New Messaging User With Cleaned Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>var_FinalMessagingUserId</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_To_Collection</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_ErrorMessage</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_SelectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsoCountryCode</field>
            <value>
                <stringValue>BR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageType</field>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingChannelId</field>
            <value>
                <elementReference>Get_Whatsapp_Channel.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingConsentStatus</field>
            <value>
                <stringValue>ImplicitlyOptedIn</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingPlatformKey</field>
            <value>
                <elementReference>form_CleanedPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_SelectedAccountName</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordCreates>
    <recordCreates>
        <name>Create_WhatsApp_Session_Update_e</name>
        <label>Create WhatsApp_Session_Update__e</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_SucessScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Id__c</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessagingEndUserId__c</field>
            <value>
                <elementReference>var_FinalMessagingUserId</elementReference>
            </value>
        </inputAssignments>
        <object>WhatsApp_Session_Update__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Imovel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Imovel</name>
        <label>Get Imovel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Recipient_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.CA_Imovel__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CA_Imovel__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_User_With_9</name>
        <label>Get Messaging User With 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Existence_With_9</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_ErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingPlatformKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_FormattedWhatsapp_WithNine</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Whatsapp_Channel.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_User_With_Cleaned_Phone</name>
        <label>Get Messaging User With Cleaned Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Existence_With_Cleaned_Phone</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_ErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingPlatformKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_CleanedPhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Whatsapp_Channel.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_User_Without_9</name>
        <label>Get Messaging User Without 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_Existence_Without_9</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_ErrorMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingPlatformKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>form_FormattedWhatsapp_WithoutNine</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingChannelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Whatsapp_Channel.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Whatsapp_Channel</name>
        <label>Get Whatsapp Channel</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dec_Validate_Mobile_BR_Phone_Format</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessageType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>WhatsApp</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingChannel</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Messaging_User_With_9</name>
        <label>Update Messaging User With 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_To_Collection</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_ErrorMessage</targetReference>
        </faultConnector>
        <inputReference>Get_Messaging_User_With_9</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_User_With_Cleaned_Phone</name>
        <label>Update Messaging User With Cleaned Phone</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_To_Collection</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Screen_ErrorMessage</targetReference>
        </faultConnector>
        <inputReference>Get_Messaging_User_With_Cleaned_Phone</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Messaging_User_Without_9</name>
        <label>Update Messaging User Without 9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_To_Collection</targetReference>
        </connector>
        <inputReference>Get_Messaging_User_Without_9</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Screen_Admin_Error_Message</name>
        <label>Admin Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Case</targetReference>
        </connector>
        <fields>
            <name>Disp_NonFmtbPhone_AdminErrorMsg</name>
            <fieldText>&lt;p&gt;Código do erro:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Detalhamento do erro - Flow &lt;strong&gt;[Case] Send WhatsApp&lt;/strong&gt;:&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;Input_AccountSelection labels: {!Input_AccountSelection.selectedChoiceLabels}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;Input_AccountSelection values: {!Input_AccountSelection.selectedChoiceValues}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;var_SelectedAccountPhone: {!var_SelectedAccountPhone}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11px;&quot;&gt;var_SelectedAccountId: {!var_SelectedAccountId}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;form_FormattedWhatsapp_WithNine: {!form_FormattedWhatsapp_WithNine}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;font-size: 11px;&quot;&gt;form_FormattedWhatsapp_WithoutNine: {!form_FormattedWhatsapp_WithoutNine}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Iniciar novamente</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_ClientOptedOut</name>
        <label>Client Opted Out</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Disp_ClientOptedOut</name>
            <fieldText>&lt;p&gt;O número de whatsapp &lt;strong&gt;{!form_FormattedWhatsapp_WithNine}&lt;/strong&gt;, da conta &lt;strong&gt;{!var_SelectedAccountName}&lt;/strong&gt;, optou por não receber mais mensagens, selecione outra conta ou oriente o cliente, por outro meio, a iniciar o contato pelo WhatsApp novamente.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Confirm_New_Messaging_User_Creation</name>
        <label>Confirm New Messaging User Creation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_MessagingUser_With_Cleaned_Phone</targetReference>
        </connector>
        <fields>
            <name>Disp_CreationConfirmation</name>
            <fieldText>&lt;p&gt;O número do WhatsApp da conta selecionada não aparenta ser de um telefone pessoal e/ou brasileiro ou pode estar em um formato inválido. Confirme abaixo para seguir.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>form_CleanedPhoneNumber</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Disp_NoPhoneNumberWarn</name>
            <fieldText>&lt;p&gt;A conta selecionada não possui número de telefone. Preencha abaixo com o número do cliente para enviar a mensagem via WhatsApp.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>form_CleanedPhoneNumber</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Numero_WhatsApp</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>form_CleanedPhoneNumber</elementReference>
            </defaultValue>
            <fieldText>Número WhatsApp</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Disp_CreationTip</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(76, 76, 76); font-size: 11px;&quot;&gt;OBS. 1: O número não deve conter nenhum caractere especial e deve ser exatamente o mesmo número registrado no WhatsApp.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(76, 76, 76); font-size: 11px;&quot;&gt;OBS. 2: É obrigatório incluir o DDI (Discagem Direta Internacional), mesmo que seja um número de telefone/WhatsApp brasileiro (início 55).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_ErrorMessage</name>
        <label>Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_Admin_Error_Message</targetReference>
        </connector>
        <fields>
            <name>Disp_ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;❌ &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Ops! Algo deu errado ao enviar o WhatsApp.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Não foi possível concluir o envio da mensagem para &lt;strong&gt;{!var_SelectedAccountName}&lt;/strong&gt;.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;O que fazer agora?&lt;/strong&gt; Por favor, tire um print da tela seguinte (clicar em &lt;em&gt;Mostrar Erro&lt;/em&gt;) e envie para seu suporte/administrador Salesforce.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Mostrar Erro</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_SucessScreen</name>
        <label>Sucess Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectWhatappSpinner</name>
            <extensionName>c:redirectWhatsappSpinner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messagingSessionId</name>
                <value>
                    <elementReference>var_sessionId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Recipient_Screen</name>
        <label>Select Recipient Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Whatsapp_Channel</targetReference>
        </connector>
        <fields>
            <name>Input_AccountSelection</name>
            <choiceReferences>RCS_TargetAccounts</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Seleciona a conta</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Conta que receberá a mensagem no WhatsApp</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Disp_CaseInfo</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Caso:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!Get_Case.Subject}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Número:&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; {!Get_Case.CaseNumber}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>6</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Enviar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>coll_MessagingUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newMessagingUserPlatformKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_FinalMessagingUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectedAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectedAccountPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_SelectedTelefoneComercial</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_sessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
