force-app/main/default/flows/Case_Send_WhatsApp_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Whatsapp</name>
        <label>Send Whatsapp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>sendConversationMessages</actionName>
        <actionType>sendConversationMessages</actionType>
        <connector>
            <targetReference>Sucess_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>messageDefinitionName</name>
            <value>
                <stringValue>Mensagem_de_reativacao_do_usuario</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingDefinitionInputParameters</name>
            <value>
                <apexValue>[
  {
    &quot;name&quot;: &quot;caseImovel&quot;,
    &quot;textValue&quot;: &quot;{!imovelConcatAddress}&quot;
  },
  {
    &quot;name&quot;: &quot;accountName&quot;,
    &quot;textValue&quot;: &quot;{!selectedAccountName}&quot;
  }
]</apexValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>requestType</name>
            <value>
                <stringValue>SendNotificationMessages</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isEnforceMessagingChannelConsent</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channelConsentType</name>
            <value>
                <stringValue>MessagingEndUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>allowedSessionStatus</name>
            <value>
                <stringValue>Any</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messagingEndUserIds</name>
            <value>
                <elementReference>selectedMessagingEndUserList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sessionLongevityPreference</name>
            <value>
                <stringValue>KeepSessionOpen</stringValue>
            </value>
        </inputParameters>
        <nameSegment>sendConversationMessages</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>requestId</assignToReference>
            <name>requestId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>resultsMessages</assignToReference>
            <name>messageIdentifiers</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_each_MessagingUser_to_MessagingUserList</name>
        <label>Assign each MessagingUser to MessagingUserList</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>selectedMessagingEndUserList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_MessagingUser_in_GetMessagingUsers.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_MessagingConsentStatus_Opted_Out</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MessagingConsentStatus_To_list</name>
        <label>Assign MessagingConsentStatus To list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>For_each_MessagingUser_in_GetMessagingUsers.MessagingConsentStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ExplicitlyOptedIn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>collUsersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_each_MessagingUser_in_GetMessagingUsers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_each_MessagingUser_in_GetMessagingUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_phones_values</name>
        <label>Assign phones values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>selectedWhatsappPhoneList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelecioneAsContas.selectedChoiceValues</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SelecioneAsContas.selectedChoiceLabels</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Messaging_Users_from_Selected_Accounts</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Has_Found_MessagingSession</name>
        <label>Has It Found MessagingSession?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_Whatsapp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_MessagingSession_by_Account</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_MessagingSession_by_Account</targetReference>
            </connector>
            <label>Not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_it_found_some_messaging_user</name>
        <label>Has it found some messaging user?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>For_each_MessagingUser_in_GetMessagingUsers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMessagingUsersList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Messaging_Users_from_messaging_platform_key</targetReference>
            </connector>
            <label>Not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MessagingConsentStatus_Opted_Out</name>
        <label>Is MessagingConsentStatus Opted Out?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>For_each_MessagingUser_in_GetMessagingUsers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_each_MessagingUser_in_GetMessagingUsers.MessagingConsentStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OptedOut</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MessagingConsentStatus_To_list</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Adiciona o componente de mensagem &quot;mensagem de reativação do usuário&quot; e suas configurações. Adiciona verificação de MessagingSession encontrado ou não.</description>
    <dynamicChoiceSets>
        <name>AccountData</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>imovelAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>selectedAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>selectedAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>CA_Whatsapp__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>imovelConcatAddress</name>
        <dataType>String</dataType>
        <expression>&quot;Rua: &quot; &amp; {!imovelStreet} &amp; &quot;, &quot; &amp; {!imovelAdressNumber} &amp; &quot;, &quot; &amp;  {!imovelCity} &amp; &quot; - &quot; &amp; {!imovelState}</expression>
    </formulas>
    <formulas>
        <name>whatsAppLinkExtracted</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!resultMessage}, &quot;SUCCESS|&quot;, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Case - Send WhatsApp Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Case] Send WhatsApp Action</label>
    <loops>
        <name>For_each_MessagingUser_in_GetMessagingUsers</name>
        <label>For each MessagingUser in GetMessagingUsers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>getMessagingUsersList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_each_MessagingUser_to_MessagingUserList</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_MessagingEndUsers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_2_of_Get_MessagingSession_by_Account</name>
        <label>Get MessagingSession by Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Messag_Session_CaseId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingEndUserId</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedMessagingEndUserList</elementReference>
            </value>
        </filters>
        <filters>
            <field>CaseId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MessagingSession</object>
        <outputAssignments>
            <assignToReference>messagingSessionCaseId</assignToReference>
            <field>CaseId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseMessagingSessionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Account_Info</name>
        <label>Get Case-Account Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Imovel_Account_from_Case_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>caseAccountPhone</assignToReference>
            <field>CA_Telefone__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseAccountType</assignToReference>
            <field>CA_TipoConta__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Infos</name>
        <label>Get Case Infos</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Account_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>caseAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseImovelId</assignToReference>
            <field>CA_Imovel__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseMessagingSessionId</assignToReference>
            <field>CA_SessaoMessaging__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseNumber</assignToReference>
            <field>CaseNumber</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>caseSubject</assignToReference>
            <field>Subject</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Imovel_Account_from_Case_Info</name>
        <label>Get Imovel-Account from Case Info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Account_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseImovelId</elementReference>
            </value>
        </filters>
        <object>CA_Imovel__c</object>
        <outputAssignments>
            <assignToReference>imovelCity</assignToReference>
            <field>CA_Endereco__City__s</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>imovelState</assignToReference>
            <field>CA_Endereco__StateCode__s</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>imovelStreet</assignToReference>
            <field>CA_Endereco__Street__s</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>imovelAdressNumber</assignToReference>
            <field>CA_NumeroEndereco__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>imovelAccountId</assignToReference>
            <field>CA_ProprietarioImovel__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Users_from_messaging_platform_key</name>
        <label>Get Messaging Users from messaging platform key</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_each_MessagingUser_in_GetMessagingUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingPlatformKey</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedWhatsappPhoneList</elementReference>
            </value>
        </filters>
        <object>MessagingEndUser</object>
        <outputReference>getMessagingUsersList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MessagingConsentStatus</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Messaging_Users_from_Selected_Accounts</name>
        <label>Get Messaging Users from Selected Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_it_found_some_messaging_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MessagingPlatformKey</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedWhatsappPhoneList</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedAccountId</elementReference>
            </value>
        </filters>
        <object>MessagingEndUser</object>
        <outputReference>getMessagingUsersList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MessagingConsentStatus</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_MessagingSession_by_Account</name>
        <label>Get MessagingSession by Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Found_MessagingSession</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>MessagingEndUserId</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedMessagingEndUserList</elementReference>
            </value>
        </filters>
        <object>MessagingSession</object>
        <outputAssignments>
            <assignToReference>caseMessagingSessionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Messag_Session_CaseId</name>
        <label>Update Messag. Session CaseId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Whatsapp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseMessagingSessionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MessagingEndUsers</name>
        <label>Update MessagingEndUsers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_MessagingSession_by_Account</targetReference>
        </connector>
        <inputReference>collUsersToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>erro_envieAoAdm</name>
            <fieldText>&lt;p&gt;Encontramos um erro!&lt;/p&gt;&lt;p&gt;Envie esta mensagem ao administrador:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Id: {!resultsMessages} {!resultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Account_Screen</name>
        <label>Input Account Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_phones_values</targetReference>
        </connector>
        <fields>
            <name>Input_Account_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Account_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelecioneAsContas</name>
                    <choiceReferences>AccountData</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Selecione a conta</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Selecione a conta para quem o WhatsApp será enviado</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Account_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayCaseInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Caso&lt;/strong&gt;: {!caseSubject}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Número&lt;/strong&gt;: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!caseNumber}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Enviar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sucess_Screen</name>
        <label>Sucess Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>spinner</name>
            <extensionName>c:redirectWhatsappSpinner</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messagingSessionId</name>
                <value>
                    <elementReference>caseMessagingSessionId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Infos</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseAccountPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseAccountType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseImovelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseMessagingSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collUsersToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingEndUser</objectType>
    </variables>
    <variables>
        <name>getMessagingUsersList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingEndUser</objectType>
    </variables>
    <variables>
        <name>imovelAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>imovelAdressNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>imovelCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>imovelState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>imovelStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messageText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messagingConsentStatusId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messagingSessionCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messagingUsersList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>requestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>resultMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>resultsMessages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedBusinessPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedMessagingEndUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedMessagingEndUserList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedWhatsappPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedWhatsappPhoneList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
