force-app/main/default/flows/Omni_flow_Rotear_para_usuario_ou_fila.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Rotear_Fila</name>
        <label>Rotear(Fila)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>LiveMessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>QueueBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isQueueVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <setupReference>sfdc_livemessage</setupReference>
                <setupReferenceType>ServiceChannel</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotId</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>UserOrQueue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
        <versionString>2.0.0</versionString>
    </actionCalls>
    <actionCalls>
        <name>Rotear_Usuario</name>
        <label>Rotear(Usuario)</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>LiveMessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Central Aluguéis</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <setupReference>sfdc_livemessage</setupReference>
                <setupReferenceType>ServiceChannel</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotId</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GU600000LgsebMAB</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>UserOrQueue</elementReference>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
        <versionString>2.0.0</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Atribui_fila</name>
        <label>Atribui fila</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserOrQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obtem_Fila.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Obtem_a_sess_o_de_mensagem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_usu_rio</name>
        <label>Atribui usuário</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UserOrQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fila</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obtem_a_sessao_de_mensagem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_valores</name>
        <label>Atribui valores</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Obtem_a_sessao_de_mensagem.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obtem_a_sessao_de_mensagem.CA_Extrato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extrato</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obtem_a_sessao_de_mensagem.CA_PerfilAlugueis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PerfilAlugueis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Obtem_a_sessao_de_mensagem.CA_Fila__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fila</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Fila_na_Sessao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Atribui_valores</name>
        <label>Atribui valores</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Copy_2_of_Obtem_a_sess_o_de_mensagem.CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_2_of_Obtem_a_sess_o_de_mensagem.CA_Extrato__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extrato</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_2_of_Obtem_a_sess_o_de_mensagem.CA_PerfilAlugueis__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PerfilAlugueis</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Copy_2_of_Obtem_a_sess_o_de_mensagem.CA_Fila__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fila</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Atualiza_Fila_na_Sessao</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>E_usuario_ou_fila</name>
        <label>É usuário ou fila?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Obtem_Fila</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>É fila</defaultConnectorLabel>
        <rules>
            <name>usuario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fila</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atribui_usu_rio</targetReference>
            </connector>
            <label>É usuario</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Omni-flow] Rotear para usuário ou fila {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Bot - Omni-flow] Rotear para usuário ou fila</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordLookups>
        <name>Copy_2_of_Obtem_a_sess_o_de_mensagem</name>
        <label>Obtem a sessão de mensagem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Atribui_valores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CA_Extrato__c</queriedFields>
        <queriedFields>CA_Fila__c</queriedFields>
        <queriedFields>CA_PerfilAlugueis__c</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtem_a_sessao_de_mensagem</name>
        <label>Obtem a sessão de mensagem</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribui_valores</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CA_Extrato__c</queriedFields>
        <queriedFields>CA_Fila__c</queriedFields>
        <queriedFields>CA_PerfilAlugueis__c</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obtem_Fila</name>
        <label>Obtem Fila</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribui_fila</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fila</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Fila_na_Sessao</name>
        <label>Atualiza Fila na Sessao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Rotear_Usuario</targetReference>
        </connector>
        <inputReference>Obtem_a_sessao_de_mensagem</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Atualiza_Fila_na_Sessao</name>
        <label>Atualiza Fila na Sessao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Rotear_Fila</targetReference>
        </connector>
        <inputReference>Copy_2_of_Obtem_a_sess_o_de_mensagem</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>E_usuario_ou_fila</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Extrato</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Fila</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PerfilAlugueis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserOrQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
