force-app/main/default/flows/Protocol_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Infos_Conta_do_Usuario</name>
        <label>Add Infos Conta do Usuario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContaEncontrada</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NomeConta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Conta_do_Usuario.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Conta_do_Usuario.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PerfilAlugueis</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Conta_do_Usuario.CA_PerfilAlugueis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Conta_do_Usuario.CA_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailMascarado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaMascaraEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cria_Caso</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Infos_Conta_Encontrada</name>
        <label>Add Infos Conta Encontrada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContaEncontrada</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sim</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NomeConta</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Conta_pelo_Telefone_Whatsapp.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Conta_pelo_Telefone_Whatsapp.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PerfilAlugueis</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Conta_pelo_Telefone_Whatsapp.CA_PerfilAlugueis__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Conta_pelo_Telefone_Whatsapp.CA_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailMascarado</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormulaMascaraEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Usuario_do_Messaging_com_Conta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Infos_Conta_Nao_Encontrada</name>
        <label>Add Infos Conta Nao Encontrada</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContaEncontrada</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Não</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_infos_Sessao</name>
        <label>Add infos Sessao</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>messagingSession</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Sessao_do_Messaging.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obter_Usuario_do_Messaging</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribui_CaseNumber</name>
        <label>Atribui CaseNumber</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CaseNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Obter_Numero_Caso.CaseNumber</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Atribui_o_6</name>
        <label>Atribuição 6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>teste</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>test0</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teste</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>asdasd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teste</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>1323</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teste</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>vaava</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>teste</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>4123</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Obter_Sessao_do_Messaging</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Conta_Encontrada</name>
        <label>Conta Encontrada?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Add_Infos_Conta_Nao_Encontrada</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Encontrada</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Conta_pelo_Telefone_Whatsapp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Infos_Conta_Encontrada</targetReference>
            </connector>
            <label>Encontrada</label>
        </rules>
    </decisions>
    <decisions>
        <name>Usuario_com_Conta</name>
        <label>Usuario com Conta?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Obter_Conta_pelo_Telefone_Whatsapp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Com_Conta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Obter_Conta_do_Usuario</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Infos_Conta_do_Usuario</targetReference>
            </connector>
            <label>Com Conta</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormulaMascaraEmail</name>
        <dataType>String</dataType>
        <expression>LEFT({!Email}, 3) &amp;
LEFT(&quot;************************************************************************************************************&quot;, FIND(&quot;@&quot;, {!Email}) - 3) &amp;
&quot;@&quot; &amp;
LEFT(&quot;************************************************************************************************************&quot;, FIND(&quot;.&quot;, {!Email}, FIND(&quot;@&quot;, {!Email})) - FIND(&quot;@&quot;, {!Email}) - 1) &amp;
RIGHT(
  {!Email},
  LEN({!Email}) -
  FIND(&quot;.&quot;, {!Email}, FIND(&quot;@&quot;, {!Email})) + 1
)</expression>
    </formulas>
    <formulas>
        <name>formulaTelefone10Digitos</name>
        <dataType>String</dataType>
        <expression>IF(
   LEN({!Obter_Usuario_do_Messaging.MessagingPlatformKey}) = 13,
   MID({!Obter_Usuario_do_Messaging.MessagingPlatformKey}, 3, 2) &amp;
   MID({!Obter_Usuario_do_Messaging.MessagingPlatformKey}, 6, LEN({!Obter_Usuario_do_Messaging.MessagingPlatformKey}) - 5),
   IF(
      LEN({!Obter_Usuario_do_Messaging.MessagingPlatformKey}) = 12,
      MID({!Obter_Usuario_do_Messaging.MessagingPlatformKey}, 3, LEN({!Obter_Usuario_do_Messaging.MessagingPlatformKey}) - 2),
      {!Obter_Usuario_do_Messaging.MessagingPlatformKey}
   )
)</expression>
    </formulas>
    <formulas>
        <name>formulaTelefone11Digitos</name>
        <dataType>String</dataType>
        <expression>IF(
   LEN({!Obter_Usuario_do_Messaging.MessagingPlatformKey}) = 13,
   MID({!Obter_Usuario_do_Messaging.MessagingPlatformKey}, 3, LEN({!Obter_Usuario_do_Messaging.MessagingPlatformKey}) - 2),
   IF(
      LEN({!Obter_Usuario_do_Messaging.MessagingPlatformKey}) = 12,
      MID({!Obter_Usuario_do_Messaging.MessagingPlatformKey}, 3, 2) &amp;
      &quot;9&quot; &amp;
      MID({!Obter_Usuario_do_Messaging.MessagingPlatformKey}, 5, LEN({!Obter_Usuario_do_Messaging.MessagingPlatformKey}) - 4),
      {!Obter_Usuario_do_Messaging.MessagingPlatformKey}
   )
)</expression>
    </formulas>
    <interviewLabel>Protocol Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Protocol Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cria_Caso</name>
        <label>Cria Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>CaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Obter_Numero_Caso</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obter_Sessao_do_Messaging.EndUserAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CA_SessaoMessaging__c</field>
            <value>
                <elementReference>idRoteavel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>formulaTelefone11Digitos</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Obter_Conta_do_Usuario</name>
        <label>Obter Conta do Usuario</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Usuario_com_Conta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Usuario_do_Messaging.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Conta_pelo_Telefone_Whatsapp</name>
        <label>Obter Conta pelo Telefone Whatsapp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Conta_Encontrada</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CA_Telefonecomercial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaTelefone10Digitos</elementReference>
            </value>
        </filters>
        <filters>
            <field>CA_Telefonecomercial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaTelefone11Digitos</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Numero_Caso</name>
        <label>Obter Numero Caso</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribui_CaseNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Sessao_do_Messaging</name>
        <label>Obter Sessao do Messaging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_infos_Sessao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>idRoteavel</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Obter_Usuario_do_Messaging</name>
        <label>Obter Usuario do Messaging</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Obter_Conta_do_Usuario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Sessao_do_Messaging.MessagingEndUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingEndUser</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Usuario_do_Messaging_com_Conta</name>
        <label>Atualiza Usuario do Messaging com Conta</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cria_Caso</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Obter_Usuario_do_Messaging.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Obter_Conta_pelo_Telefone_Whatsapp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingEndUser</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atribui_o_6</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContaEncontrada</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EmailMascarado</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>idRoteavel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>messagingSession</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NomeConta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PerfilAlugueis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>teste</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
